<a href="https://colab.research.google.com/github/evysb/RL_in_stock_trading/blob/main/RL_in_stock_trading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Desenho sem título.jpg]()

O material neste repositório são scripts do Professor Jones Granatyr modificador por mim.

## Instalar bibliotecas e montar drive do Google Drive

In [ ]:
!pip install --upgrade pandas
!pip install --upgrade pandas-datareader
!pip install h5py==2.10.0 --force-reinstall
'''
CLICAR em restart runtime depois da instalação!!
'''

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Collecting pandas
  Downloading pandas-1.3.3-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 7.1 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas~=1.1.0; python_version >= "3.0", but you have pandas 1.3.3 which is incompatible.
Successfully installed pandas-1.3.3

Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 6.9 MB/s
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.2.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Installing collected packages: pandas-datareader
  Attempting uninstall: pandas-datareader
    Found existing installation: pandas-datareader 0.9.0
    Uninstalling pandas-datareader-0.9.0:
      Successfully uninstalled pandas-datareader-0.9.0
Successfully installed pandas-datareader-0.10.0
Collecting h5py==2.10.0
  Downloading h5py-2.10.0-cp37-cp37m-manylinux1_x86_64.whl (2.9 MB)
     |████████████████████████████████| 2.9 MB 8.0 MB/s
Collecting numpy>=1.7
  Downloading numpy-1.21.2-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     |████████████████████████████████| 15.7 MB 53.2 MB/s
Collecting six
  Downloading six-1.16.0-py2.py3-none-any.whl (11 kB)
Installing collected packages: six, numpy, h5py
  Attempting uninstall: six
    Found existing installation: six 1.15.0
    Uninstalling six-1.15.0:
      Successfully uninstalled six-1.15.0
  Attempting uninstall: numpy
    Found existing installation: numpy 1.19.5
    Uninstalling numpy-1.19.5:
      Successfully uninstalled numpy-1.19.5
  Attempting uninstall: h5py
    Found existing installation: h5py 3.1.0
    Uninstalling h5py-3.1.0:
      Successfully uninstalled h5py-3.1.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.6.0 requires h5py~=3.1.0, but you have h5py 2.10.0 which is incompatible.
tensorflow 2.6.0 requires numpy~=1.19.2, but you have numpy 1.21.2 which is incompatible.
tensorflow 2.6.0 requires six~=1.15.0, but you have six 1.16.0 which is incompatible.
google-colab 1.0.0 requires pandas~=1.1.0; python_version >= "3.0", but you have pandas 1.3.3 which is incompatible.
google-colab 1.0.0 requires six~=1.15.0, but you have six 1.16.0 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed h5py-2.10.0 numpy-1.21.2 six-1.16.0

'\nCLICAR em restart runtime depois da instalação!!\n'

### Tem algumas explicações de RL em negociação de ações aqui:

https://www.analyticsvidhya.com/blog/2021/01/bear-run-or-bull-run-can-reinforcement-learning-help-in-automated-trading/

Mas o código não é o mesmo!!

In [ ]:
!pip uninstall -y tensorflow
!pip install tensorflow-gpu==2.0.0-alpha0 #Usando versão específica do TF

Found existing installation: tensorflow 2.6.0
Uninstalling tensorflow-2.6.0:
  Successfully uninstalled tensorflow-2.6.0
Collecting tensorflow-gpu==2.0.0-alpha0
  Downloading tensorflow_gpu-2.0.0a0-cp37-cp37m-manylinux1_x86_64.whl (332.5 MB)
     |████████████████████████████████| 332.5 MB 34 kB/s
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu==2.0.0-alpha0) (0.8.1)
Requirement already satisfied: google-pasta>=0.1.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu==2.0.0-alpha0) (0.2.0)
Requirement already satisfied: gast>=0.2.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu==2.0.0-alpha0) (0.4.0)
Collecting tb-nightly<1.14.0a20190302,>=1.14.0a20190301
  Downloading tb_nightly-1.14.0a20190301-py3-none-any.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 39.8 MB/s
Collecting tf-estimator-nightly<1.14.0.dev2019030116,>=1.14.0.dev2019030115
  Downloading tf_estimator_nightly-1.14.0.dev2019030115-py2.py3-none-any.whl (411 kB)
     |████████████████████████████████| 411 kB 60.9 MB/s
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu==2.0.0-alpha0) (1.41.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu==2.0.0-alpha0) (0.37.0)
Requirement already satisfied: numpy<2.0,>=1.14.5 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu==2.0.0-alpha0) (1.21.2)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu==2.0.0-alpha0) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu==2.0.0-alpha0) (1.1.0)
Requirement already satisfied: protobuf>=3.6.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu==2.0.0-alpha0) (3.17.3)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu==2.0.0-alpha0) (1.1.2)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu==2.0.0-alpha0) (0.12.0)
Collecting keras-applications>=1.0.6
  Downloading Keras_Applications-1.0.8-py3-none-any.whl (50 kB)
     |████████████████████████████████| 50 kB 6.5 MB/s
Requirement already satisfied: h5py in /usr/local/lib/python3.7/dist-packages (from keras-applications>=1.0.6->tensorflow-gpu==2.0.0-alpha0) (2.10.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tb-nightly<1.14.0a20190302,>=1.14.0a20190301->tensorflow-gpu==2.0.0-alpha0) (3.3.4)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tb-nightly<1.14.0a20190302,>=1.14.0a20190301->tensorflow-gpu==2.0.0-alpha0) (1.0.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tb-nightly<1.14.0a20190302,>=1.14.0a20190301->tensorflow-gpu==2.0.0-alpha0) (4.8.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->markdown>=2.6.8->tb-nightly<1.14.0a20190302,>=1.14.0a20190301->tensorflow-gpu==2.0.0-alpha0) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->markdown>=2.6.8->tb-nightly<1.14.0a20190302,>=1.14.0a20190301->tensorflow-gpu==2.0.0-alpha0) (3.7.4.3)
Installing collected packages: tf-estimator-nightly, tb-nightly, keras-applications, tensorflow-gpu
Successfully installed keras-applications-1.0.8 tb-nightly-1.14.0a20190301 tensorflow-gpu-2.0.0a0 tf-estimator-nightly-1.14.0.dev2019030115

In [ ]:
# Montar drive no google drive!
from google.colab import drive
drive.mount('/content/drive')

import os
workdir_path = '/content/drive/My Drive'
os.chdir(workdir_path)
os.mkdir("models_rl")
os.chdir('/content/drive/My Drive/models_rl')

Mounted at /content/drive

## Importar das bibliotecas

In [ ]:
import math
import random
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import pandas_datareader as data_reader # usado para nao ter que baixar o csv
from pandas.util.testing import assert_frame_equal

from tqdm import tqdm_notebook, tqdm
from collections import deque

/usr/local/lib/python3.7/dist-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.7/dist-packages/tensorflow/python/framework/dtypes.py:524: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/usr/local/lib/python3.7/dist-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/usr/local/lib/python3.7/dist-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/usr/local/lib/python3.7/dist-packages/tensorflow/python/framework/dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/usr/local/lib/python3.7/dist-packages/tensorflow/python/framework/dtypes.py:532: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/usr/local/lib/python3.7/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.7/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/usr/local/lib/python3.7/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/usr/local/lib/python3.7/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/usr/local/lib/python3.7/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/usr/local/lib/python3.7/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.

In [ ]:
print("versão do TF ",tf.__version__)
print("versão do Pandas ",pd.__version__)
print("versão do pandas_datareader ", data_reader.__version__)

versão do TF  2.0.0-alpha0
versão do Pandas  1.3.3
versão do pandas_datareader  0.10.0

## Criação das funções que usaremos para treinar o modelo

In [ ]:
class Agent():

  def __init__(self, state_size, action_space = 3, continue_training=False): 
    self.state_size = state_size #depende do tamanho da janela (window_size)
    self.action_space = action_space #acoes: compra, venda, faz nada
    self.memory = deque(maxlen = 2000)
    self.gamma = 0.95 #0.9
    self.epsilon = 1.0
    self.epsilon_final = 0.01
    self.epsilon_decay = 0.995
    self.model = self.get_model()
  
  '''
    Política
  '''
  def trade(self, state): #função que vai fazer a negociação, vai retornar as ações
    if random.random() <= self.epsilon:
      return random.randrange(self.action_space) # no inicio será aleatório
    
    actions = self.model.predict(state) #depois usará as predição da rede
    return np.argmax(actions[0])
  
  '''
    Cria a rede e compila - pode mudar conforme o necessário
  '''
  def get_model(self):
    model = tf.keras.models.Sequential()
    model.add(tf.keras.layers.Dense(units = 16, activation = "relu", input_dim = self.state_size))
    model.add(tf.keras.layers.Dense(units = 32, activation = "relu"))
    model.add(tf.keras.layers.Dense(units = 64, activation = "relu"))
    model.add(tf.keras.layers.Dense(units = self.action_space, activation = "linear"))
    model.compile(loss = "mse", optimizer = tf.keras.optimizers.Adam(lr = 0.001))
    return model
  
  '''
    Treinamento da rede
  '''
  def train_on_batch(self, batch_size):
    batch = []
    for i in range(len(self.memory) - batch_size + 1, len(self.memory)): #pega as ultimas transações da memória
      batch.append(self.memory[i])
      
    for state, action, reward, next_state, done in batch:
      if not done:
        #Faz previsoes para o próximo estado
        #self.model.predict(next_state)[0] -> valores de Q no estado next_state
        #np.amax(self.model.predict(next_state)[0]) #busca ql maior valor de Q(s,a), ou seja, ql maior R
        reward = reward + self.gamma * np.amax(self.model.predict(next_state)[0]) #Eq Bellman
        
      target = self.model.predict(state)
      target[0][action] = reward #associa a ação que levou a ter a reward calculada
      
      self.model.fit(state, target, epochs=3, verbose=0) #TODO mudar ep
      
    if self.epsilon > self.epsilon_final:
      self.epsilon *= self.epsilon_decay

## Análise e pré-processamento da base de dados

#### Sigmoid

usado para normalizar entre 0 e 1

![image.png]()

In [ ]:
def sigmoid(z):
  return 1 / (1 + math.exp(-z))

In [ ]:
sigmoid(0.5)

0.6224593312018546

#### Formatação de preços

verifica se está tendo lucro ou não e formata (deixa bonitinho)

In [ ]:
def stocks_price_format(n):
  if n < 0:
    return "- $ {0:2f}".format(abs(n))
  else:
    return "$ {0:2f}".format(abs(n))

In [ ]:
stocks_price_format(100)

'$ 100.000000'

#### Análise e criação da função de carregar a base de dados

In [ ]:
dataset_total = data_reader.DataReader("AAPL", data_source = "yahoo") #ações da Apple

In [ ]:
#pega só 1000 dados para treino e teste
dataset = dataset_total[:1000]
dataset_test = dataset_total[1000:]

In [ ]:
'''
Quais dados temos:
Date - data
High - maior preço foi vendido no dia
Low - menor preço foi vendido no dia
Open - valor de abertura, qto que a ação valia no inicio do dia
Close	- valor de fechamento,  qto que a ação foi vendida no final do dia
Volume - volume de ações que foram transacionadas nesse dia
Adj Close - qto que valeria a ação considerando dividendos e outros fatores

****AGORA so vamos utilizar apenas o close
'''
dataset.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2016-10-07  28.639999  28.377501  28.577499  28.514999   97433600.0  26.742519
2016-10-10  29.187500  28.680000  28.754999  29.012501  144944000.0  27.209097
2016-10-11  29.672501  29.049999  29.424999  29.075001  256164000.0  27.267715
2016-10-12  29.495001  29.187500  29.337500  29.334999  150347200.0  27.511547
2016-10-13  29.360001  28.930000  29.197500  29.245001  140769600.0  27.427147

In [ ]:
str(dataset.index[0]).split()[0]

'2016-10-07'

In [ ]:
dataset.index[-1]

Timestamp('2020-09-28 00:00:00')

In [ ]:
dataset['Close']

Date
2016-10-07     28.514999
2016-10-10     29.012501
2016-10-11     29.075001
2016-10-12     29.334999
2016-10-13     29.245001
                 ...
2020-09-22    111.809998
2020-09-23    107.120003
2020-09-24    108.220001
2020-09-25    112.279999
2020-09-28    114.959999
Name: Close, Length: 1000, dtype: float64

In [ ]:
def dataset_loader(dataset):
  #TODO pegar outros além do Close
  close = dataset['Close']
  return close

### Criador de estados - com janelamento

In [ ]:
0 - 5 + 1

-4

In [ ]:
20 - 5 + 1

16

In [ ]:
dataset[16:21]

                 High        Low       Open      Close       Volume  Adj Close
Date
2016-10-31  28.557501  28.299999  28.412500  28.385000  105677600.0  26.620600
2016-11-01  28.442499  27.632500  28.365000  27.872499  175303200.0  26.139957
2016-11-02  28.087500  27.807501  27.850000  27.897499  113326800.0  26.163404
2016-11-03  27.865000  27.387501  27.745001  27.457500  107730400.0  25.882967
2016-11-04  27.562500  27.027500  27.132500  27.209999  123348000.0  25.649656

In [ ]:
#vai fazer D - D' para capturar a tendencia, se sobe ou não o número
#se identifica que a tendencia é subir o preço, o agente nao vai comprar

'''
        state                       target
[30.2 , 32.4 , [...], 40.7 , 53.5] [46.1]
subtraindo...
32.4 - 30.2 = 2.2
32.4 - ... = ...
53.5 - 40.7 = 12.8
'''

def state_creator(data, timestep, window_size): 
  starting_id = timestep - window_size + 1 # da onde vai começar a pegar os dados na base
  
  if starting_id >= 0:
    windowed_data = data[starting_id:timestep + 1]
  else:
    windowed_data = - starting_id * [data[0]] + list(data[0:timestep + 1]) #vai repetir os valores de starting_id for negativo
    
  state = []
  for i in range(window_size - 1):
    state.append(sigmoid(windowed_data[i + 1] - windowed_data[i])) #normaliza dos dados e os subtrai
    
  return np.array([state]), windowed_data

### Loading da base de dados

In [ ]:
data = dataset_loader(dataset) #LEMBRANDO: so tem close!

In [ ]:
data_test = dataset_loader(dataset_test) #so tem close!

In [ ]:
s, w = state_creator(data, 0, 5)

In [ ]:
s

array([[0.5, 0.5, 0.5, 0.5]])

In [ ]:
w

[28.514999389648438,
 28.514999389648438,
 28.514999389648438,
 28.514999389648438,
 28.514999389648438]

## Fase de Treinamento:

### Configuração dos hyper parâmetros

In [ ]:
window_size = 10 #com 10 numeros, quer prever se compra ou nao
episodes = 1 #AUMENTAR
batch_size = 32
data_samples = len(data) - 1
data_samples_test = len(data_test) - 1

### Modelo

In [ ]:
agent = Agent(window_size)

In [ ]:
agent.model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 16)                176
_________________________________________________________________
dense_1 (Dense)              (None, 32)                544
_________________________________________________________________
dense_2 (Dense)              (None, 64)                2112
_________________________________________________________________
dense_3 (Dense)              (None, 3)                 195
=================================================================
Total params: 3,027
Trainable params: 3,027
Non-trainable params: 0
_________________________________________________________________

### Treinamento:

In [ ]:
for episode in range(1, episodes + 1):
  print("Episode: {}/{}".format(episode, episodes))
  state = state_creator(data, 0, window_size + 1)
  total_profit = 0
  agent.inventory = []
  for t in tqdm(range(data_samples)):
    action = agent.trade(state)
    next_state = state_creator(data, t + 1, window_size + 1)
    reward = 0
    
    if action == 1: # Comprando uma ação
      agent.inventory.append(data[t])
      print("Agent bought: ", stocks_price_format(data[t]))
    elif action == 2 and len(agent.inventory) > 0: # Vendendo uma ação, dado que so posso vender se ja comprei algo!
      buy_price = agent.inventory.pop(0) #remove 1 item da pilha e pega o preço que foi pago
      
      reward = max(data[t] - buy_price, 0) #valor atual da ação - valor pago #MAX pra não deixar recompensa negativa! (Pode ser modificado!)
      total_profit += data[t] - buy_price
      print("Agent sold: ", stocks_price_format(data[t]), " Profit: " + stocks_price_format(data[t] - buy_price))
      
    if t == data_samples - 1:
      done = True
    else:
      done = False
      
    agent.memory.append((state, action, reward, next_state, done))
    
    state = next_state
    
    if done:
      print("######## DONE ########")
      print("-- [INFO] Total profit: ", total_profit)
      
    if len(agent.memory) > batch_size:
      agent.train_on_batch(batch_size)
     
  #if episode % 10 == 0:
  agent.model.save("model_{}.h5".format(episode)) #Salvando arquitetura e pesos!

Episode: 1/1

  0%|          | 0/999 [00:00<?, ?it/s]

Agent bought:  $ 29.334999
Agent bought:  $ 29.245001
Agent sold:  $ 29.407499  Profit: $ 0.072500
Agent sold:  $ 29.387501  Profit: $ 0.142500
Agent bought:  $ 28.430000
Agent bought:  $ 27.872499
Agent bought:  $ 27.897499
Agent bought:  $ 27.209999
Agent sold:  $ 27.764999  Profit: - $ 0.665001
Agent sold:  $ 27.719999  Profit: - $ 0.152500
Agent bought:  $ 26.947500
Agent bought:  $ 27.107500
Agent bought:  $ 26.777500
Agent sold:  $ 27.497499  Profit: - $ 0.400000
Agent bought:  $ 27.487499
Agent bought:  $ 27.514999
Agent sold:  $ 27.932501  Profit: $ 0.722502

  3%|▎         | 33/999 [00:01<00:50, 19.07it/s]

Agent bought:  $ 27.807501

  4%|▎         | 35/999 [00:02<01:17, 12.46it/s]

Agent sold:  $ 27.892500  Profit: $ 0.945000

  4%|▎         | 36/999 [00:02<01:34, 10.23it/s]

Agent bought:  $ 27.865000

  4%|▍         | 38/999 [00:03<02:21,  6.78it/s]

Agent sold:  $ 27.372499  Profit: $ 0.264999

  4%|▍         | 40/999 [00:04<01:53,  8.48it/s]

Agent bought:  $ 27.277500

KeyboardInterrupt: ignored

# Inferência

In [ ]:
model = tf.keras.models.load_model("model_1.h5")

In [ ]:
for t in tqdm(range(data_samples_test)):
  state = state_creator(data_test, t + 1, window_size + 1)
  print(state)
  action = model.predict(state)
  result = np.argmax(action[0])
  print("result ", result)
  
  if result == 1:
    print("-- [INFO] bought!")
  elif result == 2:
    print("-- [INFO] sold!")
  else:
    print("-- [INFO] do nothing!")
  print('\n')
  print('-----------------------------')
  print('\n')

  6%|▌         | 15/257 [00:00<00:01, 149.40it/s]

(array([[0.5       , 0.5       , 0.5       , 0.5       , 0.5       ,
        0.5       , 0.5       , 0.5       , 0.5       , 0.84812899]]), [114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 115.80999755859375])
result  1
-- [INFO] bought!


-----------------------------


(array([[0.5       , 0.5       , 0.5       , 0.5       , 0.5       ,
        0.5       , 0.5       , 0.5       , 0.84812899, 0.72710888]]), [114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 115.80999755859375, 116.79000091552734])
result  1
-- [INFO] bought!


-----------------------------


(array([[0.5       , 0.5       , 0.5       , 0.5       , 0.5       ,
        0.5       , 0.5       , 0.84812899, 0.72710888, 0.02253255]]), [114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 115.80999755859375, 116.79000091552734, 113.0199966430664])
result  2
-- [INFO] sold!


-----------------------------


(array([[0.5       , 0.5       , 0.5       , 0.5       , 0.5       ,
        0.5       , 0.84812899, 0.72710888, 0.02253255, 0.97011342]]), [114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 115.80999755859375, 116.79000091552734, 113.0199966430664, 116.5])
result  1
-- [INFO] bought!


-----------------------------


(array([[0.5       , 0.5       , 0.5       , 0.5       , 0.5       ,
        0.84812899, 0.72710888, 0.02253255, 0.97011342, 0.03422428]]), [114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 115.80999755859375, 116.79000091552734, 113.0199966430664, 116.5, 113.16000366210938])
result  2
-- [INFO] sold!


-----------------------------


(array([[0.5       , 0.5       , 0.5       , 0.5       , 0.84812899,
        0.72710888, 0.02253255, 0.97011342, 0.03422428, 0.87213823]]), [114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 115.80999755859375, 116.79000091552734, 113.0199966430664, 116.5, 113.16000366210938, 115.08000183105469])
result  2
-- [INFO] sold!


-----------------------------


(array([[0.5       , 0.5       , 0.5       , 0.84812899, 0.72710888,
        0.02253255, 0.97011342, 0.03422428, 0.87213823, 0.47252754]]), [114.08999633789062, 114.08999633789062, 114.08999633789062, 114.08999633789062, 115.80999755859375, 116.79000091552734, 113.0199966430664, 116.5, 113.16000366210938, 115.08000183105469, 114.97000122070312])
result  1
-- [INFO] bought!


-----------------------------


(array([[0.5       , 0.5       , 0.84812899, 0.72710888, 0.02253255,
        0.97011342, 0.03422428, 0.87213823, 0.47252754, 0.88079708]]), [114.08999633789062, 114.08999633789062, 114.08999633789062, 115.80999755859375, 116.79000091552734, 113.0199966430664, 116.5, 113.16000366210938, 115.08000183105469, 114.97000122070312, 116.97000122070312])
result  2
-- [INFO] sold!


-----------------------------


(array([[0.5       , 0.84812899, 0.72710888, 0.02253255, 0.97011342,
        0.03422428, 0.87213823, 0.47252754, 0.88079708, 0.99940716]]), [114.08999633789062, 114.08999633789062, 115.80999755859375, 116.79000091552734, 113.0199966430664, 116.5, 113.16000366210938, 115.08000183105469, 114.97000122070312, 116.97000122070312, 124.4000015258789])
result  1
-- [INFO] bought!


-----------------------------


(array([[0.84812899, 0.72710888, 0.02253255, 0.97011342, 0.03422428,
        0.87213823, 0.47252754, 0.88079708, 0.99940716, 0.03557108]]), Date
2020-09-29    114.089996
2020-09-30    115.809998
2020-10-01    116.790001
2020-10-02    113.019997
2020-10-05    116.500000
2020-10-06    113.160004
2020-10-07    115.080002
2020-10-08    114.970001
2020-10-09    116.970001
2020-10-12    124.400002
2020-10-13    121.099998
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.72710888, 0.02253255, 0.97011342, 0.03422428, 0.87213823,
        0.47252754, 0.88079708, 0.99940716, 0.03557108, 0.52248581]]), Date
2020-09-30    115.809998
2020-10-01    116.790001
2020-10-02    113.019997
2020-10-05    116.500000
2020-10-06    113.160004
2020-10-07    115.080002
2020-10-08    114.970001
2020-10-09    116.970001
2020-10-12    124.400002
2020-10-13    121.099998
2020-10-14    121.190002
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.02253255, 0.97011342, 0.03422428, 0.87213823, 0.47252754,
        0.88079708, 0.99940716, 0.03557108, 0.52248581, 0.38225133]]), Date
2020-10-01    116.790001
2020-10-02    113.019997
2020-10-05    116.500000
2020-10-06    113.160004
2020-10-07    115.080002
2020-10-08    114.970001
2020-10-09    116.970001
2020-10-12    124.400002
2020-10-13    121.099998
2020-10-14    121.190002
2020-10-15    120.709999
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.97011342, 0.03422428, 0.87213823, 0.47252754, 0.88079708,
        0.99940716, 0.03557108, 0.52248581, 0.38225133, 0.15577552]]), Date
2020-10-02    113.019997
2020-10-05    116.500000
2020-10-06    113.160004
2020-10-07    115.080002
2020-10-08    114.970001
2020-10-09    116.970001
2020-10-12    124.400002
2020-10-13    121.099998
2020-10-14    121.190002
2020-10-15    120.709999
2020-10-16    119.019997
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.03422428, 0.87213823, 0.47252754, 0.88079708, 0.99940716,
        0.03557108, 0.52248581, 0.38225133, 0.15577552, 0.04565146]]), Date
2020-10-05    116.500000
2020-10-06    113.160004
2020-10-07    115.080002
2020-10-08    114.970001
2020-10-09    116.970001
2020-10-12    124.400002
2020-10-13    121.099998
2020-10-14    121.190002
2020-10-15    120.709999
2020-10-16    119.019997
2020-10-19    115.980003
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.87213823, 0.47252754, 0.88079708, 0.99940716, 0.03557108,
        0.52248581, 0.38225133, 0.15577552, 0.04565146, 0.82200614]]), Date
2020-10-06    113.160004
2020-10-07    115.080002
2020-10-08    114.970001
2020-10-09    116.970001
2020-10-12    124.400002
2020-10-13    121.099998
2020-10-14    121.190002
2020-10-15    120.709999
2020-10-16    119.019997
2020-10-19    115.980003
2020-10-20    117.510002
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.47252754, 0.88079708, 0.99940716, 0.03557108, 0.52248581,
        0.38225133, 0.15577552, 0.04565146, 0.82200614, 0.34524668]]), Date
2020-10-07    115.080002
2020-10-08    114.970001
2020-10-09    116.970001
2020-10-12    124.400002
2020-10-13    121.099998
2020-10-14    121.190002
2020-10-15    120.709999
2020-10-16    119.019997
2020-10-19    115.980003
2020-10-20    117.510002
2020-10-21    116.870003
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.88079708, 0.99940716, 0.03557108, 0.52248581, 0.38225133,
        0.15577552, 0.04565146, 0.82200614, 0.34524668, 0.24601077]]), Date
2020-10-08    114.970001
2020-10-09    116.970001
2020-10-12    124.400002
2020-10-13    121.099998
2020-10-14    121.190002
2020-10-15    120.709999
2020-10-16    119.019997
2020-10-19    115.980003
2020-10-20    117.510002
2020-10-21    116.870003
2020-10-22    115.750000
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.99940716, 0.03557108, 0.52248581, 0.38225133, 0.15577552,
        0.04565146, 0.82200614, 0.34524668, 0.24601077, 0.32959904]]), Date
2020-10-09    116.970001
2020-10-12    124.400002
2020-10-13    121.099998
2020-10-14    121.190002
2020-10-15    120.709999
2020-10-16    119.019997
2020-10-19    115.980003
2020-10-20    117.510002
2020-10-21    116.870003
2020-10-22    115.750000
2020-10-23    115.040001
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.03557108, 0.52248581, 0.38225133, 0.15577552, 0.04565146,
        0.82200614, 0.34524668, 0.24601077, 0.32959904, 0.50250051]]), Date
2020-10-12    124.400002
2020-10-13    121.099998
2020-10-14    121.190002
2020-10-15    120.709999
2020-10-16    119.019997
2020-10-19    115.980003
2020-10-20    117.510002
2020-10-21    116.870003
2020-10-22    115.750000
2020-10-23    115.040001
2020-10-26    115.050003
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.52248581, 0.38225133, 0.15577552, 0.04565146, 0.82200614,
        0.34524668, 0.24601077, 0.32959904, 0.50250051, 0.82491307]]), Date
2020-10-13    121.099998
2020-10-14    121.190002
2020-10-15    120.709999
2020-10-16    119.019997
2020-10-19    115.980003
2020-10-20    117.510002
2020-10-21    116.870003
2020-10-22    115.750000
2020-10-23    115.040001
2020-10-26    115.050003
2020-10-27    116.599998
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.38225133, 0.15577552, 0.04565146, 0.82200614, 0.34524668,
        0.24601077, 0.32959904, 0.50250051, 0.82491307, 0.00449627]]), Date
2020-10-14    121.190002
2020-10-15    120.709999
2020-10-16    119.019997
2020-10-19    115.980003
2020-10-20    117.510002
2020-10-21    116.870003
2020-10-22    115.750000
2020-10-23    115.040001
2020-10-26    115.050003
2020-10-27    116.599998
2020-10-28    111.199997
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.15577552, 0.04565146, 0.82200614, 0.34524668, 0.24601077,
        0.32959904, 0.50250051, 0.82491307, 0.00449627, 0.98401519]]), Date
2020-10-15    120.709999
2020-10-16    119.019997
2020-10-19    115.980003
2020-10-20    117.510002
2020-10-21    116.870003
2020-10-22    115.750000
2020-10-23    115.040001
2020-10-26    115.050003
2020-10-27    116.599998
2020-10-28    111.199997
2020-10-29    115.320000
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.04565146, 0.82200614, 0.34524668, 0.24601077, 0.32959904,
        0.50250051, 0.82491307, 0.00449627, 0.98401519, 0.00156235]]), Date
2020-10-16    119.019997
2020-10-19    115.980003
2020-10-20    117.510002
2020-10-21    116.870003
2020-10-22    115.750000
2020-10-23    115.040001
2020-10-26    115.050003
2020-10-27    116.599998
2020-10-28    111.199997
2020-10-29    115.320000
2020-10-30    108.860001
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.82200614, 0.34524668, 0.24601077, 0.32959904, 0.50250051,
        0.82491307, 0.00449627, 0.98401519, 0.00156235, 0.47751419]]), Date
2020-10-19    115.980003
2020-10-20    117.510002
2020-10-21    116.870003
2020-10-22    115.750000
2020-10-23    115.040001
2020-10-26    115.050003
2020-10-27    116.599998
2020-10-28    111.199997
2020-10-29    115.320000
2020-10-30    108.860001
2020-11-02    108.769997
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.34524668, 0.24601077, 0.32959904, 0.50250051, 0.82491307,
        0.00449627, 0.98401519, 0.00156235, 0.47751419, 0.84157659]]), Date
2020-10-20    117.510002
2020-10-21    116.870003
2020-10-22    115.750000
2020-10-23    115.040001
2020-10-26    115.050003
2020-10-27    116.599998
2020-10-28    111.199997
2020-10-29    115.320000
2020-10-30    108.860001
2020-11-02    108.769997
2020-11-03    110.440002
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.24601077, 0.32959904, 0.50250051, 0.82491307, 0.00449627,
        0.98401519, 0.00156235, 0.47751419, 0.84157659, 0.98912113]]), Date
2020-10-21    116.870003
2020-10-22    115.750000
2020-10-23    115.040001
2020-10-26    115.050003
2020-10-27    116.599998
2020-10-28    111.199997
2020-10-29    115.320000
2020-10-30    108.860001
2020-11-02    108.769997
2020-11-03    110.440002
2020-11-04    114.949997
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.32959904, 0.50250051, 0.82491307, 0.00449627, 0.98401519,
        0.00156235, 0.47751419, 0.84157659, 0.98912113, 0.98337367]]), Date
2020-10-22    115.750000
2020-10-23    115.040001
2020-10-26    115.050003
2020-10-27    116.599998
2020-10-28    111.199997
2020-10-29    115.320000
2020-10-30    108.860001
2020-11-02    108.769997
2020-11-03    110.440002
2020-11-04    114.949997
2020-11-05    119.029999
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.50250051, 0.82491307, 0.00449627, 0.98401519, 0.00156235,
        0.47751419, 0.84157659, 0.98912113, 0.98337367, 0.41581037]]), Date
2020-10-23    115.040001
2020-10-26    115.050003
2020-10-27    116.599998
2020-10-28    111.199997
2020-10-29    115.320000
2020-10-30    108.860001
2020-11-02    108.769997
2020-11-03    110.440002
2020-11-04    114.949997
2020-11-05    119.029999
2020-11-06    118.690002
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.82491307, 0.00449627, 0.98401519, 0.00156235, 0.47751419,
        0.84157659, 0.98912113, 0.98337367, 0.41581037, 0.08548892]]), Date
2020-10-26    115.050003
2020-10-27    116.599998
2020-10-28    111.199997
2020-10-29    115.320000
2020-10-30    108.860001
2020-11-02    108.769997
2020-11-03    110.440002
2020-11-04    114.949997
2020-11-05    119.029999
2020-11-06    118.690002
2020-11-09    116.320000
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.00449627, 0.98401519, 0.00156235, 0.47751419, 0.84157659,
        0.98912113, 0.98337367, 0.41581037, 0.08548892, 0.41338279]]), Date
2020-10-27    116.599998
2020-10-28    111.199997
2020-10-29    115.320000
2020-10-30    108.860001
2020-11-02    108.769997
2020-11-03    110.440002
2020-11-04    114.949997
2020-11-05    119.029999
2020-11-06    118.690002
2020-11-09    116.320000
2020-11-10    115.970001
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.98401519, 0.00156235, 0.47751419, 0.84157659, 0.98912113,
        0.98337367, 0.41581037, 0.08548892, 0.41338279, 0.97125141]]), Date
2020-10-28    111.199997
2020-10-29    115.320000
2020-10-30    108.860001
2020-11-02    108.769997
2020-11-03    110.440002
2020-11-04    114.949997
2020-11-05    119.029999
2020-11-06    118.690002
2020-11-09    116.320000
2020-11-10    115.970001
2020-11-11    119.489998
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.00156235, 0.47751419, 0.84157659, 0.98912113, 0.98337367,
        0.41581037, 0.08548892, 0.41338279, 0.97125141, 0.43045408]]), Date
2020-10-29    115.320000
2020-10-30    108.860001
2020-11-02    108.769997
2020-11-03    110.440002
2020-11-04    114.949997
2020-11-05    119.029999
2020-11-06    118.690002
2020-11-09    116.320000
2020-11-10    115.970001
2020-11-11    119.489998
2020-11-12    119.209999
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.47751419, 0.84157659, 0.98912113, 0.98337367, 0.41581037,
        0.08548892, 0.41338279, 0.97125141, 0.43045408, 0.51249816]]), Date
2020-10-30    108.860001
2020-11-02    108.769997
2020-11-03    110.440002
2020-11-04    114.949997
2020-11-05    119.029999
2020-11-06    118.690002
2020-11-09    116.320000
2020-11-10    115.970001
2020-11-11    119.489998
2020-11-12    119.209999
2020-11-13    119.260002
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.84157659, 0.98912113, 0.98337367, 0.41581037, 0.08548892,
        0.41338279, 0.97125141, 0.43045408, 0.51249816, 0.73885018]]), Date
2020-11-02    108.769997
2020-11-03    110.440002
2020-11-04    114.949997
2020-11-05    119.029999
2020-11-06    118.690002
2020-11-09    116.320000
2020-11-10    115.970001
2020-11-11    119.489998
2020-11-12    119.209999
2020-11-13    119.260002
2020-11-16    120.300003
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.98912113, 0.98337367, 0.41581037, 0.08548892, 0.41338279,
        0.97125141, 0.43045408, 0.51249816, 0.73885018, 0.28699909]]), Date
2020-11-03    110.440002
2020-11-04    114.949997
2020-11-05    119.029999
2020-11-06    118.690002
2020-11-09    116.320000
2020-11-10    115.970001
2020-11-11    119.489998
2020-11-12    119.209999
2020-11-13    119.260002
2020-11-16    120.300003
2020-11-17    119.389999
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.98337367, 0.41581037, 0.08548892, 0.41338279, 0.97125141,
        0.43045408, 0.51249816, 0.73885018, 0.28699909, 0.2042402 ]]), Date
2020-11-04    114.949997
2020-11-05    119.029999
2020-11-06    118.690002
2020-11-09    116.320000
2020-11-10    115.970001
2020-11-11    119.489998
2020-11-12    119.209999
2020-11-13    119.260002
2020-11-16    120.300003
2020-11-17    119.389999
2020-11-18    118.029999
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.41581037, 0.08548892, 0.41338279, 0.97125141, 0.43045408,
        0.51249816, 0.73885018, 0.28699909, 0.2042402 , 0.64794094]]), Date
2020-11-05    119.029999
2020-11-06    118.690002
2020-11-09    116.320000
2020-11-10    115.970001
2020-11-11    119.489998
2020-11-12    119.209999
2020-11-13    119.260002
2020-11-16    120.300003
2020-11-17    119.389999
2020-11-18    118.029999
2020-11-19    118.639999
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.08548892, 0.41338279, 0.97125141, 0.43045408, 0.51249816,
        0.73885018, 0.28699909, 0.2042402 , 0.64794094, 0.2141645 ]]), Date
2020-11-06    118.690002
2020-11-09    116.320000
2020-11-10    115.970001
2020-11-11    119.489998
2020-11-12    119.209999
2020-11-13    119.260002
2020-11-16    120.300003
2020-11-17    119.389999
2020-11-18    118.029999
2020-11-19    118.639999
2020-11-20    117.339996
Name: Close, dtype: float64)

 25%|██▍       | 63/257 [00:00<00:00, 216.32it/s]

result  1
-- [INFO] bought!


-----------------------------


(array([[0.41338279, 0.97125141, 0.43045408, 0.51249816, 0.73885018,
        0.28699909, 0.2042402 , 0.64794094, 0.2141645 , 0.02959817]]), Date
2020-11-09    116.320000
2020-11-10    115.970001
2020-11-11    119.489998
2020-11-12    119.209999
2020-11-13    119.260002
2020-11-16    120.300003
2020-11-17    119.389999
2020-11-18    118.029999
2020-11-19    118.639999
2020-11-20    117.339996
2020-11-23    113.849998
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.97125141, 0.43045408, 0.51249816, 0.73885018, 0.28699909,
        0.2042402 , 0.64794094, 0.2141645 , 0.02959817, 0.78918166]]), Date
2020-11-10    115.970001
2020-11-11    119.489998
2020-11-12    119.209999
2020-11-13    119.260002
2020-11-16    120.300003
2020-11-17    119.389999
2020-11-18    118.029999
2020-11-19    118.639999
2020-11-20    117.339996
2020-11-23    113.849998
2020-11-24    115.169998
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.43045408, 0.51249816, 0.73885018, 0.28699909, 0.2042402 ,
        0.64794094, 0.2141645 , 0.02959817, 0.78918166, 0.70266078]]), Date
2020-11-11    119.489998
2020-11-12    119.209999
2020-11-13    119.260002
2020-11-16    120.300003
2020-11-17    119.389999
2020-11-18    118.029999
2020-11-19    118.639999
2020-11-20    117.339996
2020-11-23    113.849998
2020-11-24    115.169998
2020-11-25    116.029999
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.51249816, 0.73885018, 0.28699909, 0.2042402 , 0.64794094,
        0.2141645 , 0.02959817, 0.78918166, 0.70266078, 0.63645198]]), Date
2020-11-12    119.209999
2020-11-13    119.260002
2020-11-16    120.300003
2020-11-17    119.389999
2020-11-18    118.029999
2020-11-19    118.639999
2020-11-20    117.339996
2020-11-23    113.849998
2020-11-24    115.169998
2020-11-25    116.029999
2020-11-27    116.589996
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.73885018, 0.28699909, 0.2042402 , 0.64794094, 0.2141645 ,
        0.02959817, 0.78918166, 0.70266078, 0.63645198, 0.92129015]]), Date
2020-11-13    119.260002
2020-11-16    120.300003
2020-11-17    119.389999
2020-11-18    118.029999
2020-11-19    118.639999
2020-11-20    117.339996
2020-11-23    113.849998
2020-11-24    115.169998
2020-11-25    116.029999
2020-11-27    116.589996
2020-11-30    119.050003
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.28699909, 0.2042402 , 0.64794094, 0.2141645 , 0.02959817,
        0.78918166, 0.70266078, 0.63645198, 0.92129015, 0.97515641]]), Date
2020-11-16    120.300003
2020-11-17    119.389999
2020-11-18    118.029999
2020-11-19    118.639999
2020-11-20    117.339996
2020-11-23    113.849998
2020-11-24    115.169998
2020-11-25    116.029999
2020-11-27    116.589996
2020-11-30    119.050003
2020-12-01    122.720001
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.2042402 , 0.64794094, 0.2141645 , 0.02959817, 0.78918166,
        0.70266078, 0.63645198, 0.92129015, 0.97515641, 0.58904058]]), Date
2020-11-17    119.389999
2020-11-18    118.029999
2020-11-19    118.639999
2020-11-20    117.339996
2020-11-23    113.849998
2020-11-24    115.169998
2020-11-25    116.029999
2020-11-27    116.589996
2020-11-30    119.050003
2020-12-01    122.720001
2020-12-02    123.080002
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.64794094, 0.2141645 , 0.02959817, 0.78918166, 0.70266078,
        0.63645198, 0.92129015, 0.97515641, 0.58904058, 0.46505721]]), Date
2020-11-18    118.029999
2020-11-19    118.639999
2020-11-20    117.339996
2020-11-23    113.849998
2020-11-24    115.169998
2020-11-25    116.029999
2020-11-27    116.589996
2020-11-30    119.050003
2020-12-01    122.720001
2020-12-02    123.080002
2020-12-03    122.940002
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.2141645 , 0.02959817, 0.78918166, 0.70266078, 0.63645198,
        0.92129015, 0.97515641, 0.58904058, 0.46505721, 0.33403253]]), Date
2020-11-19    118.639999
2020-11-20    117.339996
2020-11-23    113.849998
2020-11-24    115.169998
2020-11-25    116.029999
2020-11-27    116.589996
2020-11-30    119.050003
2020-12-01    122.720001
2020-12-02    123.080002
2020-12-03    122.940002
2020-12-04    122.250000
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.02959817, 0.78918166, 0.70266078, 0.63645198, 0.92129015,
        0.97515641, 0.58904058, 0.46505721, 0.33403253, 0.81757448]]), Date
2020-11-20    117.339996
2020-11-23    113.849998
2020-11-24    115.169998
2020-11-25    116.029999
2020-11-27    116.589996
2020-11-30    119.050003
2020-12-01    122.720001
2020-12-02    123.080002
2020-12-03    122.940002
2020-12-04    122.250000
2020-12-07    123.750000
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.78918166, 0.70266078, 0.63645198, 0.92129015, 0.97515641,
        0.58904058, 0.46505721, 0.33403253, 0.81757448, 0.65248884]]), Date
2020-11-23    113.849998
2020-11-24    115.169998
2020-11-25    116.029999
2020-11-27    116.589996
2020-11-30    119.050003
2020-12-01    122.720001
2020-12-02    123.080002
2020-12-03    122.940002
2020-12-04    122.250000
2020-12-07    123.750000
2020-12-08    124.379997
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.70266078, 0.63645198, 0.92129015, 0.97515641, 0.58904058,
        0.46505721, 0.33403253, 0.81757448, 0.65248884, 0.06913852]]), Date
2020-11-24    115.169998
2020-11-25    116.029999
2020-11-27    116.589996
2020-11-30    119.050003
2020-12-01    122.720001
2020-12-02    123.080002
2020-12-03    122.940002
2020-12-04    122.250000
2020-12-07    123.750000
2020-12-08    124.379997
2020-12-09    121.779999
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.63645198, 0.92129015, 0.97515641, 0.58904058, 0.46505721,
        0.33403253, 0.81757448, 0.65248884, 0.06913852, 0.81153253]]), Date
2020-11-25    116.029999
2020-11-27    116.589996
2020-11-30    119.050003
2020-12-01    122.720001
2020-12-02    123.080002
2020-12-03    122.940002
2020-12-04    122.250000
2020-12-07    123.750000
2020-12-08    124.379997
2020-12-09    121.779999
2020-12-10    123.239998
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.92129015, 0.97515641, 0.58904058, 0.46505721, 0.33403253,
        0.81757448, 0.65248884, 0.06913852, 0.81153253, 0.3036463 ]]), Date
2020-11-27    116.589996
2020-11-30    119.050003
2020-12-01    122.720001
2020-12-02    123.080002
2020-12-03    122.940002
2020-12-04    122.250000
2020-12-07    123.750000
2020-12-08    124.379997
2020-12-09    121.779999
2020-12-10    123.239998
2020-12-11    122.410004
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.97515641, 0.58904058, 0.46505721, 0.33403253, 0.81757448,
        0.65248884, 0.06913852, 0.81153253, 0.3036463 , 0.34750943]]), Date
2020-11-30    119.050003
2020-12-01    122.720001
2020-12-02    123.080002
2020-12-03    122.940002
2020-12-04    122.250000
2020-12-07    123.750000
2020-12-08    124.379997
2020-12-09    121.779999
2020-12-10    123.239998
2020-12-11    122.410004
2020-12-14    121.779999
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.58904058, 0.46505721, 0.33403253, 0.81757448, 0.65248884,
        0.06913852, 0.81153253, 0.3036463 , 0.34750943, 0.99776215]]), Date
2020-12-01    122.720001
2020-12-02    123.080002
2020-12-03    122.940002
2020-12-04    122.250000
2020-12-07    123.750000
2020-12-08    124.379997
2020-12-09    121.779999
2020-12-10    123.239998
2020-12-11    122.410004
2020-12-14    121.779999
2020-12-15    127.879997
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.46505721, 0.33403253, 0.81757448, 0.65248884, 0.06913852,
        0.81153253, 0.3036463 , 0.34750943, 0.99776215, 0.48250722]]), Date
2020-12-02    123.080002
2020-12-03    122.940002
2020-12-04    122.250000
2020-12-07    123.750000
2020-12-08    124.379997
2020-12-09    121.779999
2020-12-10    123.239998
2020-12-11    122.410004
2020-12-14    121.779999
2020-12-15    127.879997
2020-12-16    127.809998
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.33403253, 0.81757448, 0.65248884, 0.06913852, 0.81153253,
        0.3036463 , 0.34750943, 0.99776215, 0.48250722, 0.70889005]]), Date
2020-12-03    122.940002
2020-12-04    122.250000
2020-12-07    123.750000
2020-12-08    124.379997
2020-12-09    121.779999
2020-12-10    123.239998
2020-12-11    122.410004
2020-12-14    121.779999
2020-12-15    127.879997
2020-12-16    127.809998
2020-12-17    128.699997
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.81757448, 0.65248884, 0.06913852, 0.81153253, 0.3036463 ,
        0.34750943, 0.99776215, 0.48250722, 0.70889005, 0.11506742]]), Date
2020-12-04    122.250000
2020-12-07    123.750000
2020-12-08    124.379997
2020-12-09    121.779999
2020-12-10    123.239998
2020-12-11    122.410004
2020-12-14    121.779999
2020-12-15    127.879997
2020-12-16    127.809998
2020-12-17    128.699997
2020-12-18    126.660004
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.65248884, 0.06913852, 0.81153253, 0.3036463 , 0.34750943,
        0.99776215, 0.48250722, 0.70889005, 0.11506742, 0.82778248]]), Date
2020-12-07    123.750000
2020-12-08    124.379997
2020-12-09    121.779999
2020-12-10    123.239998
2020-12-11    122.410004
2020-12-14    121.779999
2020-12-15    127.879997
2020-12-16    127.809998
2020-12-17    128.699997
2020-12-18    126.660004
2020-12-21    128.229996
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.06913852, 0.81153253, 0.3036463 , 0.34750943, 0.99776215,
        0.48250722, 0.70889005, 0.11506742, 0.82778248, 0.97466752]]), Date
2020-12-08    124.379997
2020-12-09    121.779999
2020-12-10    123.239998
2020-12-11    122.410004
2020-12-14    121.779999
2020-12-15    127.879997
2020-12-16    127.809998
2020-12-17    128.699997
2020-12-18    126.660004
2020-12-21    128.229996
2020-12-22    131.880005
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.81153253, 0.3036463 , 0.34750943, 0.99776215, 0.48250722,
        0.70889005, 0.11506742, 0.82778248, 0.97466752, 0.28495827]]), Date
2020-12-09    121.779999
2020-12-10    123.239998
2020-12-11    122.410004
2020-12-14    121.779999
2020-12-15    127.879997
2020-12-16    127.809998
2020-12-17    128.699997
2020-12-18    126.660004
2020-12-21    128.229996
2020-12-22    131.880005
2020-12-23    130.960007
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.3036463 , 0.34750943, 0.99776215, 0.48250722, 0.70889005,
        0.11506742, 0.82778248, 0.97466752, 0.28495827, 0.73301907]]), Date
2020-12-10    123.239998
2020-12-11    122.410004
2020-12-14    121.779999
2020-12-15    127.879997
2020-12-16    127.809998
2020-12-17    128.699997
2020-12-18    126.660004
2020-12-21    128.229996
2020-12-22    131.880005
2020-12-23    130.960007
2020-12-24    131.970001
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.34750943, 0.99776215, 0.48250722, 0.70889005, 0.11506742,
        0.82778248, 0.97466752, 0.28495827, 0.73301907, 0.99116361]]), Date
2020-12-11    122.410004
2020-12-14    121.779999
2020-12-15    127.879997
2020-12-16    127.809998
2020-12-17    128.699997
2020-12-18    126.660004
2020-12-21    128.229996
2020-12-22    131.880005
2020-12-23    130.960007
2020-12-24    131.970001
2020-12-28    136.690002
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.99776215, 0.48250722, 0.70889005, 0.11506742, 0.82778248,
        0.97466752, 0.28495827, 0.73301907, 0.99116361, 0.13943299]]), Date
2020-12-14    121.779999
2020-12-15    127.879997
2020-12-16    127.809998
2020-12-17    128.699997
2020-12-18    126.660004
2020-12-21    128.229996
2020-12-22    131.880005
2020-12-23    130.960007
2020-12-24    131.970001
2020-12-28    136.690002
2020-12-29    134.869995
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.48250722, 0.70889005, 0.11506742, 0.82778248, 0.97466752,
        0.28495827, 0.73301907, 0.99116361, 0.13943299, 0.2404902 ]]), Date
2020-12-15    127.879997
2020-12-16    127.809998
2020-12-17    128.699997
2020-12-18    126.660004
2020-12-21    128.229996
2020-12-22    131.880005
2020-12-23    130.960007
2020-12-24    131.970001
2020-12-28    136.690002
2020-12-29    134.869995
2020-12-30    133.720001
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.70889005, 0.11506742, 0.82778248, 0.97466752, 0.28495827,
        0.73301907, 0.99116361, 0.13943299, 0.2404902 , 0.26308434]]), Date
2020-12-16    127.809998
2020-12-17    128.699997
2020-12-18    126.660004
2020-12-21    128.229996
2020-12-22    131.880005
2020-12-23    130.960007
2020-12-24    131.970001
2020-12-28    136.690002
2020-12-29    134.869995
2020-12-30    133.720001
2020-12-31    132.690002
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.11506742, 0.82778248, 0.97466752, 0.28495827, 0.73301907,
        0.99116361, 0.13943299, 0.2404902 , 0.26308434, 0.03626376]]), Date
2020-12-17    128.699997
2020-12-18    126.660004
2020-12-21    128.229996
2020-12-22    131.880005
2020-12-23    130.960007
2020-12-24    131.970001
2020-12-28    136.690002
2020-12-29    134.869995
2020-12-30    133.720001
2020-12-31    132.690002
2021-01-04    129.410004
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.82778248, 0.97466752, 0.28495827, 0.73301907, 0.99116361,
        0.13943299, 0.2404902 , 0.26308434, 0.03626376, 0.83201711]]), Date
2020-12-18    126.660004
2020-12-21    128.229996
2020-12-22    131.880005
2020-12-23    130.960007
2020-12-24    131.970001
2020-12-28    136.690002
2020-12-29    134.869995
2020-12-30    133.720001
2020-12-31    132.690002
2021-01-04    129.410004
2021-01-05    131.009995
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.97466752, 0.28495827, 0.73301907, 0.99116361, 0.13943299,
        0.2404902 , 0.26308434, 0.03626376, 0.83201711, 0.01200925]]), Date
2020-12-21    128.229996
2020-12-22    131.880005
2020-12-23    130.960007
2020-12-24    131.970001
2020-12-28    136.690002
2020-12-29    134.869995
2020-12-30    133.720001
2020-12-31    132.690002
2021-01-04    129.410004
2021-01-05    131.009995
2021-01-06    126.599998
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.28495827, 0.73301907, 0.99116361, 0.13943299, 0.2404902 ,
        0.26308434, 0.03626376, 0.83201711, 0.01200925, 0.98687468]]), Date
2020-12-22    131.880005
2020-12-23    130.960007
2020-12-24    131.970001
2020-12-28    136.690002
2020-12-29    134.869995
2020-12-30    133.720001
2020-12-31    132.690002
2021-01-04    129.410004
2021-01-05    131.009995
2021-01-06    126.599998
2021-01-07    130.919998
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.73301907, 0.99116361, 0.13943299, 0.2404902 , 0.26308434,
        0.03626376, 0.83201711, 0.01200925, 0.98687468, 0.7558398 ]]), Date
2020-12-23    130.960007
2020-12-24    131.970001
2020-12-28    136.690002
2020-12-29    134.869995
2020-12-30    133.720001
2020-12-31    132.690002
2021-01-04    129.410004
2021-01-05    131.009995
2021-01-06    126.599998
2021-01-07    130.919998
2021-01-08    132.050003
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.99116361, 0.13943299, 0.2404902 , 0.26308434, 0.03626376,
        0.83201711, 0.01200925, 0.98687468, 0.7558398 , 0.04436152]]), Date
2020-12-24    131.970001
2020-12-28    136.690002
2020-12-29    134.869995
2020-12-30    133.720001
2020-12-31    132.690002
2021-01-04    129.410004
2021-01-05    131.009995
2021-01-06    126.599998
2021-01-07    130.919998
2021-01-08    132.050003
2021-01-11    128.979996
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.13943299, 0.2404902 , 0.26308434, 0.03626376, 0.83201711,
        0.01200925, 0.98687468, 0.7558398 , 0.04436152, 0.45512292]]), Date
2020-12-28    136.690002
2020-12-29    134.869995
2020-12-30    133.720001
2020-12-31    132.690002
2021-01-04    129.410004
2021-01-05    131.009995
2021-01-06    126.599998
2021-01-07    130.919998
2021-01-08    132.050003
2021-01-11    128.979996
2021-01-12    128.800003
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.2404902 , 0.26308434, 0.03626376, 0.83201711, 0.01200925,
        0.98687468, 0.7558398 , 0.04436152, 0.45512292, 0.88992707]]), Date
2020-12-29    134.869995
2020-12-30    133.720001
2020-12-31    132.690002
2021-01-04    129.410004
2021-01-05    131.009995
2021-01-06    126.599998
2021-01-07    130.919998
2021-01-08    132.050003
2021-01-11    128.979996
2021-01-12    128.800003
2021-01-13    130.889999
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.26308434, 0.03626376, 0.83201711, 0.01200925, 0.98687468,
        0.7558398 , 0.04436152, 0.45512292, 0.88992707, 0.12131929]]), Date
2020-12-30    133.720001
2020-12-31    132.690002
2021-01-04    129.410004
2021-01-05    131.009995
2021-01-06    126.599998
2021-01-07    130.919998
2021-01-08    132.050003
2021-01-11    128.979996
2021-01-12    128.800003
2021-01-13    130.889999
2021-01-14    128.910004
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.03626376, 0.83201711, 0.01200925, 0.98687468, 0.7558398 ,
        0.04436152, 0.45512292, 0.88992707, 0.12131929, 0.1455418 ]]), Date
2020-12-31    132.690002
2021-01-04    129.410004
2021-01-05    131.009995
2021-01-06    126.599998
2021-01-07    130.919998
2021-01-08    132.050003
2021-01-11    128.979996
2021-01-12    128.800003
2021-01-13    130.889999
2021-01-14    128.910004
2021-01-15    127.139999
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.83201711, 0.01200925, 0.98687468, 0.7558398 , 0.04436152,
        0.45512292, 0.88992707, 0.12131929, 0.1455418 , 0.66596747]]), Date
2021-01-04    129.410004
2021-01-05    131.009995
2021-01-06    126.599998
2021-01-07    130.919998
2021-01-08    132.050003
2021-01-11    128.979996
2021-01-12    128.800003
2021-01-13    130.889999
2021-01-14    128.910004
2021-01-15    127.139999
2021-01-19    127.830002
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.01200925, 0.98687468, 0.7558398 , 0.04436152, 0.45512292,
        0.88992707, 0.12131929, 0.1455418 , 0.66596747, 0.98522592]]), Date
2021-01-05    131.009995
2021-01-06    126.599998
2021-01-07    130.919998
2021-01-08    132.050003
2021-01-11    128.979996
2021-01-12    128.800003
2021-01-13    130.889999
2021-01-14    128.910004
2021-01-15    127.139999
2021-01-19    127.830002
2021-01-20    132.029999
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------



 42%|████▏     | 109/257 [00:00<00:00, 221.65it/s]

 1
-- [INFO] bought!


-----------------------------


(array([[0.98522592, 0.99215495, 0.90025061, 0.97916347, 0.559715  ,
        0.24973875, 0.00689526, 0.00588182, 0.8984384 , 0.70056842]]), Date
2021-01-19    127.830002
2021-01-20    132.029999
2021-01-21    136.869995
2021-01-22    139.070007
2021-01-25    142.919998
2021-01-26    143.160004
2021-01-27    142.059998
2021-01-28    137.089996
2021-01-29    131.960007
2021-02-01    134.139999
2021-02-02    134.990005
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.99215495, 0.90025061, 0.97916347, 0.559715  , 0.24973875,
        0.00689526, 0.00588182, 0.8984384 , 0.70056842, 0.25922451]]), Date
2021-01-20    132.029999
2021-01-21    136.869995
2021-01-22    139.070007
2021-01-25    142.919998
2021-01-26    143.160004
2021-01-27    142.059998
2021-01-28    137.089996
2021-01-29    131.960007
2021-02-01    134.139999
2021-02-02    134.990005
2021-02-03    133.940002
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.90025061, 0.97916347, 0.559715  , 0.24973875, 0.00689526,
        0.00588182, 0.8984384 , 0.70056842, 0.25922451, 0.96923105]]), Date
2021-01-21    136.869995
2021-01-22    139.070007
2021-01-25    142.919998
2021-01-26    143.160004
2021-01-27    142.059998
2021-01-28    137.089996
2021-01-29    131.960007
2021-02-01    134.139999
2021-02-02    134.990005
2021-02-03    133.940002
2021-02-04    137.389999
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.97916347, 0.559715  , 0.24973875, 0.00689526, 0.00588182,
        0.8984384 , 0.70056842, 0.25922451, 0.96923105, 0.34750943]]), Date
2021-01-22    139.070007
2021-01-25    142.919998
2021-01-26    143.160004
2021-01-27    142.059998
2021-01-28    137.089996
2021-01-29    131.960007
2021-02-01    134.139999
2021-02-02    134.990005
2021-02-03    133.940002
2021-02-04    137.389999
2021-02-05    136.759995
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.559715  , 0.24973875, 0.00689526, 0.00588182, 0.8984384 ,
        0.70056842, 0.25922451, 0.96923105, 0.34750943, 0.53743212]]), Date
2021-01-25    142.919998
2021-01-26    143.160004
2021-01-27    142.059998
2021-01-28    137.089996
2021-01-29    131.960007
2021-02-01    134.139999
2021-02-02    134.990005
2021-02-03    133.940002
2021-02-04    137.389999
2021-02-05    136.759995
2021-02-08    136.910004
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.24973875, 0.00689526, 0.00588182, 0.8984384 , 0.70056842,
        0.25922451, 0.96923105, 0.34750943, 0.53743212, 0.28904862]]), Date
2021-01-26    143.160004
2021-01-27    142.059998
2021-01-28    137.089996
2021-01-29    131.960007
2021-02-01    134.139999
2021-02-02    134.990005
2021-02-03    133.940002
2021-02-04    137.389999
2021-02-05    136.759995
2021-02-08    136.910004
2021-02-09    136.009995
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.00689526, 0.00588182, 0.8984384 , 0.70056842, 0.25922451,
        0.96923105, 0.34750943, 0.53743212, 0.28904862, 0.34978256]]), Date
2021-01-27    142.059998
2021-01-28    137.089996
2021-01-29    131.960007
2021-02-01    134.139999
2021-02-02    134.990005
2021-02-03    133.940002
2021-02-04    137.389999
2021-02-05    136.759995
2021-02-08    136.910004
2021-02-09    136.009995
2021-02-10    135.389999
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.00588182, 0.8984384 , 0.70056842, 0.25922451, 0.96923105,
        0.34750943, 0.53743212, 0.28904862, 0.34978256, 0.43536506]]), Date
2021-01-28    137.089996
2021-01-29    131.960007
2021-02-01    134.139999
2021-02-02    134.990005
2021-02-03    133.940002
2021-02-04    137.389999
2021-02-05    136.759995
2021-02-08    136.910004
2021-02-09    136.009995
2021-02-10    135.389999
2021-02-11    135.130005
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.8984384 , 0.70056842, 0.25922451, 0.96923105, 0.34750943,
        0.53743212, 0.28904862, 0.34978256, 0.43536506, 0.55971124]]), Date
2021-01-29    131.960007
2021-02-01    134.139999
2021-02-02    134.990005
2021-02-03    133.940002
2021-02-04    137.389999
2021-02-05    136.759995
2021-02-08    136.910004
2021-02-09    136.009995
2021-02-10    135.389999
2021-02-11    135.130005
2021-02-12    135.369995
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.70056842, 0.25922451, 0.96923105, 0.34750943, 0.53743212,
        0.28904862, 0.34978256, 0.43536506, 0.55971124, 0.1015616 ]]), Date
2021-02-01    134.139999
2021-02-02    134.990005
2021-02-03    133.940002
2021-02-04    137.389999
2021-02-05    136.759995
2021-02-08    136.910004
2021-02-09    136.009995
2021-02-10    135.389999
2021-02-11    135.130005
2021-02-12    135.369995
2021-02-16    133.190002
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.25922451, 0.96923105, 0.34750943, 0.53743212, 0.28904862,
        0.34978256, 0.43536506, 0.55971124, 0.1015616 , 0.08706529]]), Date
2021-02-02    134.990005
2021-02-03    133.940002
2021-02-04    137.389999
2021-02-05    136.759995
2021-02-08    136.910004
2021-02-09    136.009995
2021-02-10    135.389999
2021-02-11    135.130005
2021-02-12    135.369995
2021-02-16    133.190002
2021-02-17    130.839996
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.96923105, 0.34750943, 0.53743212, 0.28904862, 0.34978256,
        0.43536506, 0.55971124, 0.1015616 , 0.08706529, 0.24416302]]), Date
2021-02-03    133.940002
2021-02-04    137.389999
2021-02-05    136.759995
2021-02-08    136.910004
2021-02-09    136.009995
2021-02-10    135.389999
2021-02-11    135.130005
2021-02-12    135.369995
2021-02-16    133.190002
2021-02-17    130.839996
2021-02-18    129.710007
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.34750943, 0.53743212, 0.28904862, 0.34978256, 0.43536506,
        0.55971124, 0.1015616 , 0.08706529, 0.24416302, 0.539912  ]]), Date
2021-02-04    137.389999
2021-02-05    136.759995
2021-02-08    136.910004
2021-02-09    136.009995
2021-02-10    135.389999
2021-02-11    135.130005
2021-02-12    135.369995
2021-02-16    133.190002
2021-02-17    130.839996
2021-02-18    129.710007
2021-02-19    129.869995
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.53743212, 0.28904862, 0.34978256, 0.43536506, 0.55971124,
        0.1015616 , 0.08706529, 0.24416302, 0.539912  , 0.02043229]]), Date
2021-02-05    136.759995
2021-02-08    136.910004
2021-02-09    136.009995
2021-02-10    135.389999
2021-02-11    135.130005
2021-02-12    135.369995
2021-02-16    133.190002
2021-02-17    130.839996
2021-02-18    129.710007
2021-02-19    129.869995
2021-02-22    126.000000
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.28904862, 0.34978256, 0.43536506, 0.55971124, 0.1015616 ,
        0.08706529, 0.24416302, 0.539912  , 0.02043229, 0.46505721]]), Date
2021-02-08    136.910004
2021-02-09    136.009995
2021-02-10    135.389999
2021-02-11    135.130005
2021-02-12    135.369995
2021-02-16    133.190002
2021-02-17    130.839996
2021-02-18    129.710007
2021-02-19    129.869995
2021-02-22    126.000000
2021-02-23    125.860001
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.34978256, 0.43536506, 0.55971124, 0.1015616 , 0.08706529,
        0.24416302, 0.539912  , 0.02043229, 0.46505721, 0.37519302]]), Date
2021-02-09    136.009995
2021-02-10    135.389999
2021-02-11    135.130005
2021-02-12    135.369995
2021-02-16    133.190002
2021-02-17    130.839996
2021-02-18    129.710007
2021-02-19    129.869995
2021-02-22    126.000000
2021-02-23    125.860001
2021-02-24    125.349998
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.43536506, 0.55971124, 0.1015616 , 0.08706529, 0.24416302,
        0.539912  , 0.02043229, 0.46505721, 0.37519302, 0.01261715]]), Date
2021-02-10    135.389999
2021-02-11    135.130005
2021-02-12    135.369995
2021-02-16    133.190002
2021-02-17    130.839996
2021-02-18    129.710007
2021-02-19    129.869995
2021-02-22    126.000000
2021-02-23    125.860001
2021-02-24    125.349998
2021-02-25    120.989998
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.55971124, 0.1015616 , 0.08706529, 0.24416302, 0.539912  ,
        0.02043229, 0.46505721, 0.37519302, 0.01261715, 0.56709395]]), Date
2021-02-11    135.130005
2021-02-12    135.369995
2021-02-16    133.190002
2021-02-17    130.839996
2021-02-18    129.710007
2021-02-19    129.869995
2021-02-22    126.000000
2021-02-23    125.860001
2021-02-24    125.349998
2021-02-25    120.989998
2021-02-26    121.260002
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.1015616 , 0.08706529, 0.24416302, 0.539912  , 0.02043229,
        0.46505721, 0.37519302, 0.01261715, 0.56709395, 0.99854312]]), Date
2021-02-12    135.369995
2021-02-16    133.190002
2021-02-17    130.839996
2021-02-18    129.710007
2021-02-19    129.869995
2021-02-22    126.000000
2021-02-23    125.860001
2021-02-24    125.349998
2021-02-25    120.989998
2021-02-26    121.260002
2021-03-01    127.790001
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.08706529, 0.24416302, 0.539912  , 0.02043229, 0.46505721,
        0.37519302, 0.01261715, 0.56709395, 0.99854312, 0.06476708]]), Date
2021-02-16    133.190002
2021-02-17    130.839996
2021-02-18    129.710007
2021-02-19    129.869995
2021-02-22    126.000000
2021-02-23    125.860001
2021-02-24    125.349998
2021-02-25    120.989998
2021-02-26    121.260002
2021-03-01    127.790001
2021-03-02    125.120003
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.24416302, 0.539912  , 0.02043229, 0.46505721, 0.37519302,
        0.01261715, 0.56709395, 0.99854312, 0.06476708, 0.04478748]]), Date
2021-02-17    130.839996
2021-02-18    129.710007
2021-02-19    129.869995
2021-02-22    126.000000
2021-02-23    125.860001
2021-02-24    125.349998
2021-02-25    120.989998
2021-02-26    121.260002
2021-03-01    127.790001
2021-03-02    125.120003
2021-03-03    122.059998
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.539912  , 0.02043229, 0.46505721, 0.37519302, 0.01261715,
        0.56709395, 0.99854312, 0.06476708, 0.04478748, 0.12675055]]), Date
2021-02-18    129.710007
2021-02-19    129.869995
2021-02-22    126.000000
2021-02-23    125.860001
2021-02-24    125.349998
2021-02-25    120.989998
2021-02-26    121.260002
2021-03-01    127.790001
2021-03-02    125.120003
2021-03-03    122.059998
2021-03-04    120.129997
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.02043229, 0.46505721, 0.37519302, 0.01261715, 0.56709395,
        0.99854312, 0.06476708, 0.04478748, 0.12675055, 0.78414734]]), Date
2021-02-19    129.869995
2021-02-22    126.000000
2021-02-23    125.860001
2021-02-24    125.349998
2021-02-25    120.989998
2021-02-26    121.260002
2021-03-01    127.790001
2021-03-02    125.120003
2021-03-03    122.059998
2021-03-04    120.129997
2021-03-05    121.419998
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.46505721, 0.37519302, 0.01261715, 0.56709395, 0.99854312,
        0.06476708, 0.04478748, 0.12675055, 0.78414734, 0.00630556]]), Date
2021-02-22    126.000000
2021-02-23    125.860001
2021-02-24    125.349998
2021-02-25    120.989998
2021-02-26    121.260002
2021-03-01    127.790001
2021-03-02    125.120003
2021-03-03    122.059998
2021-03-04    120.129997
2021-03-05    121.419998
2021-03-08    116.360001
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.37519302, 0.01261715, 0.56709395, 0.99854312, 0.06476708,
        0.04478748, 0.12675055, 0.78414734, 0.00630556, 0.99125072]]), Date
2021-02-23    125.860001
2021-02-24    125.349998
2021-02-25    120.989998
2021-02-26    121.260002
2021-03-01    127.790001
2021-03-02    125.120003
2021-03-03    122.059998
2021-03-04    120.129997
2021-03-05    121.419998
2021-03-08    116.360001
2021-03-09    121.089996
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.01261715, 0.56709395, 0.99854312, 0.06476708, 0.04478748,
        0.12675055, 0.78414734, 0.00630556, 0.99125072, 0.2478722 ]]), Date
2021-02-24    125.349998
2021-02-25    120.989998
2021-02-26    121.260002
2021-03-01    127.790001
2021-03-02    125.120003
2021-03-03    122.059998
2021-03-04    120.129997
2021-03-05    121.419998
2021-03-08    116.360001
2021-03-09    121.089996
2021-03-10    119.980003
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.56709395, 0.99854312, 0.06476708, 0.04478748, 0.12675055,
        0.78414734, 0.00630556, 0.99125072, 0.2478722 , 0.87868071]]), Date
2021-02-25    120.989998
2021-02-26    121.260002
2021-03-01    127.790001
2021-03-02    125.120003
2021-03-03    122.059998
2021-03-04    120.129997
2021-03-05    121.419998
2021-03-08    116.360001
2021-03-09    121.089996
2021-03-10    119.980003
2021-03-11    121.959999
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.99854312, 0.06476708, 0.04478748, 0.12675055, 0.78414734,
        0.00630556, 0.99125072, 0.2478722 , 0.87868071, 0.28292465]]), Date
2021-02-26    121.260002
2021-03-01    127.790001
2021-03-02    125.120003
2021-03-03    122.059998
2021-03-04    120.129997
2021-03-05    121.419998
2021-03-08    116.360001
2021-03-09    121.089996
2021-03-10    119.980003
2021-03-11    121.959999
2021-03-12    121.029999
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.06476708, 0.04478748, 0.12675055, 0.78414734, 0.00630556,
        0.99125072, 0.2478722 , 0.87868071, 0.28292465, 0.95073395]]), Date
2021-03-01    127.790001
2021-03-02    125.120003
2021-03-03    122.059998
2021-03-04    120.129997
2021-03-05    121.419998
2021-03-08    116.360001
2021-03-09    121.089996
2021-03-10    119.980003
2021-03-11    121.959999
2021-03-12    121.029999
2021-03-15    123.989998
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.04478748, 0.12675055, 0.78414734, 0.00630556, 0.99125072,
        0.2478722 , 0.87868071, 0.28292465, 0.95073395, 0.82920478]]), Date
2021-03-02    125.120003
2021-03-03    122.059998
2021-03-04    120.129997
2021-03-05    121.419998
2021-03-08    116.360001
2021-03-09    121.089996
2021-03-10    119.980003
2021-03-11    121.959999
2021-03-12    121.029999
2021-03-15    123.989998
2021-03-16    125.570000
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.12675055, 0.78414734, 0.00630556, 0.99125072, 0.2478722 ,
        0.87868071, 0.28292465, 0.95073395, 0.82920478, 0.30789102]]), Date
2021-03-03    122.059998
2021-03-04    120.129997
2021-03-05    121.419998
2021-03-08    116.360001
2021-03-09    121.089996
2021-03-10    119.980003
2021-03-11    121.959999
2021-03-12    121.029999
2021-03-15    123.989998
2021-03-16    125.570000
2021-03-17    124.760002
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.78414734, 0.00630556, 0.99125072, 0.2478722 , 0.87868071,
        0.28292465, 0.95073395, 0.82920478, 0.30789102, 0.01434361]]), Date
2021-03-04    120.129997
2021-03-05    121.419998
2021-03-08    116.360001
2021-03-09    121.089996
2021-03-10    119.980003
2021-03-11    121.959999
2021-03-12    121.029999
2021-03-15    123.989998
2021-03-16    125.570000
2021-03-17    124.760002
2021-03-18    120.529999
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.00630556, 0.99125072, 0.2478722 , 0.87868071, 0.28292465,
        0.95073395, 0.82920478, 0.30789102, 0.01434361, 0.36818737]]), Date
2021-03-05    121.419998
2021-03-08    116.360001
2021-03-09    121.089996
2021-03-10    119.980003
2021-03-11    121.959999
2021-03-12    121.029999
2021-03-15    123.989998
2021-03-16    125.570000
2021-03-17    124.760002
2021-03-18    120.529999
2021-03-19    119.989998
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.99125072, 0.2478722 , 0.87868071, 0.28292465, 0.95073395,
        0.82920478, 0.30789102, 0.01434361, 0.36818737, 0.96770458]]), Date
2021-03-08    116.360001
2021-03-09    121.089996
2021-03-10    119.980003
2021-03-11    121.959999
2021-03-12    121.029999
2021-03-15    123.989998
2021-03-16    125.570000
2021-03-17    124.760002
2021-03-18    120.529999
2021-03-19    119.989998
2021-03-22    123.389999
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.2478722 , 0.87868071, 0.28292465, 0.95073395, 0.82920478,
        0.30789102, 0.01434361, 0.36818737, 0.96770458, 0.29943318]]), Date
2021-03-09    121.089996
2021-03-10    119.980003
2021-03-11    121.959999
2021-03-12    121.029999
2021-03-15    123.989998
2021-03-16    125.570000
2021-03-17    124.760002
2021-03-18    120.529999
2021-03-19    119.989998
2021-03-22    123.389999
2021-03-23    122.540001
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.87868071, 0.28292465, 0.95073395, 0.82920478, 0.30789102,
        0.01434361, 0.36818737, 0.96770458, 0.29943318, 0.07943821]]), Date
2021-03-10    119.980003
2021-03-11    121.959999
2021-03-12    121.029999
2021-03-15    123.989998
2021-03-16    125.570000
2021-03-17    124.760002
2021-03-18    120.529999
2021-03-19    119.989998
2021-03-22    123.389999
2021-03-23    122.540001
2021-03-24    120.089996
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.28292465, 0.95073395, 0.82920478, 0.30789102, 0.01434361,
        0.36818737, 0.96770458, 0.29943318, 0.07943821, 0.62245933]]), Date
2021-03-11    121.959999
2021-03-12    121.029999
2021-03-15    123.989998
2021-03-16    125.570000
2021-03-17    124.760002
2021-03-18    120.529999
2021-03-19    119.989998
2021-03-22    123.389999
2021-03-23    122.540001
2021-03-24    120.089996
2021-03-25    120.589996
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.95073395, 0.82920478, 0.30789102, 0.01434361, 0.36818737,
        0.96770458, 0.29943318, 0.07943821, 0.62245933, 0.65021917]]), Date
2021-03-12    121.029999
2021-03-15    123.989998
2021-03-16    125.570000
2021-03-17    124.760002
2021-03-18    120.529999
2021-03-19    119.989998
2021-03-22    123.389999
2021-03-23    122.540001
2021-03-24    120.089996
2021-03-25    120.589996
2021-03-26    121.209999
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.82920478, 0.30789102, 0.01434361, 0.36818737, 0.96770458,
        0.29943318, 0.07943821, 0.62245933, 0.65021917, 0.54487897]]), Date
2021-03-15    123.989998
2021-03-16    125.570000
2021-03-17    124.760002
2021-03-18    120.529999
2021-03-19    119.989998
2021-03-22    123.389999
2021-03-23    122.540001
2021-03-24    120.089996
2021-03-25    120.589996
2021-03-26    121.209999
2021-03-29    121.389999
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------



 60%|██████    | 155/257 [00:00<00:00, 214.15it/s]

result  1
-- [INFO] bought!


-----------------------------


(array([[0.65021917, 0.54487897, 0.18392205, 0.90465054, 0.70056682,
        0.94784651, 0.57688467, 0.84422448, 0.9212896 , 0.93339193]]), Date
2021-03-25    120.589996
2021-03-26    121.209999
2021-03-29    121.389999
2021-03-30    119.900002
2021-03-31    122.150002
2021-04-01    123.000000
2021-04-05    125.900002
2021-04-06    126.209999
2021-04-07    127.900002
2021-04-08    130.360001
2021-04-09    133.000000
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.54487897, 0.18392205, 0.90465054, 0.70056682, 0.94784651,
        0.57688467, 0.84422448, 0.9212896 , 0.93339193, 0.14679103]]), Date
2021-03-26    121.209999
2021-03-29    121.389999
2021-03-30    119.900002
2021-03-31    122.150002
2021-04-01    123.000000
2021-04-05    125.900002
2021-04-06    126.209999
2021-04-07    127.900002
2021-04-08    130.360001
2021-04-09    133.000000
2021-04-12    131.240005
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.18392205, 0.90465054, 0.70056682, 0.94784651, 0.57688467,
        0.84422448, 0.9212896 , 0.93339193, 0.14679103, 0.96045573]]), Date
2021-03-29    121.389999
2021-03-30    119.900002
2021-03-31    122.150002
2021-04-01    123.000000
2021-04-05    125.900002
2021-04-06    126.209999
2021-04-07    127.900002
2021-04-08    130.360001
2021-04-09    133.000000
2021-04-12    131.240005
2021-04-13    134.429993
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.90465054, 0.70056682, 0.94784651, 0.57688467, 0.84422448,
        0.9212896 , 0.93339193, 0.14679103, 0.96045573, 0.08317316]]), Date
2021-03-30    119.900002
2021-03-31    122.150002
2021-04-01    123.000000
2021-04-05    125.900002
2021-04-06    126.209999
2021-04-07    127.900002
2021-04-08    130.360001
2021-04-09    133.000000
2021-04-12    131.240005
2021-04-13    134.429993
2021-04-14    132.029999
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.70056682, 0.94784651, 0.57688467, 0.84422448, 0.9212896 ,
        0.93339193, 0.14679103, 0.96045573, 0.08317316, 0.92201185]]), Date
2021-03-31    122.150002
2021-04-01    123.000000
2021-04-05    125.900002
2021-04-06    126.209999
2021-04-07    127.900002
2021-04-08    130.360001
2021-04-09    133.000000
2021-04-12    131.240005
2021-04-13    134.429993
2021-04-14    132.029999
2021-04-15    134.500000
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.94784651, 0.57688467, 0.84422448, 0.9212896 , 0.93339193,
        0.14679103, 0.96045573, 0.08317316, 0.92201185, 0.41581037]]), Date
2021-04-01    123.000000
2021-04-05    125.900002
2021-04-06    126.209999
2021-04-07    127.900002
2021-04-08    130.360001
2021-04-09    133.000000
2021-04-12    131.240005
2021-04-13    134.429993
2021-04-14    132.029999
2021-04-15    134.500000
2021-04-16    134.160004
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.57688467, 0.84422448, 0.9212896 , 0.93339193, 0.14679103,
        0.96045573, 0.08317316, 0.92201185, 0.41581037, 0.66373706]]), Date
2021-04-05    125.900002
2021-04-06    126.209999
2021-04-07    127.900002
2021-04-08    130.360001
2021-04-09    133.000000
2021-04-12    131.240005
2021-04-13    134.429993
2021-04-14    132.029999
2021-04-15    134.500000
2021-04-16    134.160004
2021-04-19    134.839996
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.84422448, 0.9212896 , 0.93339193, 0.14679103, 0.96045573,
        0.08317316, 0.92201185, 0.41581037, 0.66373706, 0.15058813]]), Date
2021-04-06    126.209999
2021-04-07    127.900002
2021-04-08    130.360001
2021-04-09    133.000000
2021-04-12    131.240005
2021-04-13    134.429993
2021-04-14    132.029999
2021-04-15    134.500000
2021-04-16    134.160004
2021-04-19    134.839996
2021-04-20    133.110001
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.9212896 , 0.93339193, 0.14679103, 0.96045573, 0.08317316,
        0.92201185, 0.41581037, 0.66373706, 0.15058813, 0.59628255]]), Date
2021-04-07    127.900002
2021-04-08    130.360001
2021-04-09    133.000000
2021-04-12    131.240005
2021-04-13    134.429993
2021-04-14    132.029999
2021-04-15    134.500000
2021-04-16    134.160004
2021-04-19    134.839996
2021-04-20    133.110001
2021-04-21    133.500000
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.93339193, 0.14679103, 0.96045573, 0.08317316, 0.92201185,
        0.41581037, 0.66373706, 0.15058813, 0.59628255, 0.173647  ]]), Date
2021-04-08    130.360001
2021-04-09    133.000000
2021-04-12    131.240005
2021-04-13    134.429993
2021-04-14    132.029999
2021-04-15    134.500000
2021-04-16    134.160004
2021-04-19    134.839996
2021-04-20    133.110001
2021-04-21    133.500000
2021-04-22    131.940002
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.14679103, 0.96045573, 0.08317316, 0.92201185, 0.41581037,
        0.66373706, 0.15058813, 0.59628255, 0.173647  , 0.91528981]]), Date
2021-04-09    133.000000
2021-04-12    131.240005
2021-04-13    134.429993
2021-04-14    132.029999
2021-04-15    134.500000
2021-04-16    134.160004
2021-04-19    134.839996
2021-04-20    133.110001
2021-04-21    133.500000
2021-04-22    131.940002
2021-04-23    134.320007
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.96045573, 0.08317316, 0.92201185, 0.41581037, 0.66373706,
        0.15058813, 0.59628255, 0.173647  , 0.91528981, 0.59868619]]), Date
2021-04-12    131.240005
2021-04-13    134.429993
2021-04-14    132.029999
2021-04-15    134.500000
2021-04-16    134.160004
2021-04-19    134.839996
2021-04-20    133.110001
2021-04-21    133.500000
2021-04-22    131.940002
2021-04-23    134.320007
2021-04-26    134.720001
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.08317316, 0.92201185, 0.41581037, 0.66373706, 0.15058813,
        0.59628255, 0.173647  , 0.91528981, 0.59868619, 0.41824018]]), Date
2021-04-13    134.429993
2021-04-14    132.029999
2021-04-15    134.500000
2021-04-16    134.160004
2021-04-19    134.839996
2021-04-20    133.110001
2021-04-21    133.500000
2021-04-22    131.940002
2021-04-23    134.320007
2021-04-26    134.720001
2021-04-27    134.389999
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.92201185, 0.41581037, 0.66373706, 0.15058813, 0.59628255,
        0.173647  , 0.91528981, 0.59868619, 0.41824018, 0.30789102]]), Date
2021-04-14    132.029999
2021-04-15    134.500000
2021-04-16    134.160004
2021-04-19    134.839996
2021-04-20    133.110001
2021-04-21    133.500000
2021-04-22    131.940002
2021-04-23    134.320007
2021-04-26    134.720001
2021-04-27    134.389999
2021-04-28    133.580002
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.41581037, 0.66373706, 0.15058813, 0.59628255, 0.173647  ,
        0.91528981, 0.59868619, 0.41824018, 0.30789102, 0.47501929]]), Date
2021-04-15    134.500000
2021-04-16    134.160004
2021-04-19    134.839996
2021-04-20    133.110001
2021-04-21    133.500000
2021-04-22    131.940002
2021-04-23    134.320007
2021-04-26    134.720001
2021-04-27    134.389999
2021-04-28    133.580002
2021-04-29    133.479996
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.66373706, 0.15058813, 0.59628255, 0.173647  , 0.91528981,
        0.59868619, 0.41824018, 0.30789102, 0.47501929, 0.11712013]]), Date
2021-04-16    134.160004
2021-04-19    134.839996
2021-04-20    133.110001
2021-04-21    133.500000
2021-04-22    131.940002
2021-04-23    134.320007
2021-04-26    134.720001
2021-04-27    134.389999
2021-04-28    133.580002
2021-04-29    133.479996
2021-04-30    131.460007
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.15058813, 0.59628255, 0.173647  , 0.91528981, 0.59868619,
        0.41824018, 0.30789102, 0.47501929, 0.11712013, 0.74649144]]), Date
2021-04-19    134.839996
2021-04-20    133.110001
2021-04-21    133.500000
2021-04-22    131.940002
2021-04-23    134.320007
2021-04-26    134.720001
2021-04-27    134.389999
2021-04-28    133.580002
2021-04-29    133.479996
2021-04-30    131.460007
2021-05-03    132.539993
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.59628255, 0.173647  , 0.91528981, 0.59868619, 0.41824018,
        0.30789102, 0.47501929, 0.11712013, 0.74649144, 0.00910311]]), Date
2021-04-20    133.110001
2021-04-21    133.500000
2021-04-22    131.940002
2021-04-23    134.320007
2021-04-26    134.720001
2021-04-27    134.389999
2021-04-28    133.580002
2021-04-29    133.479996
2021-04-30    131.460007
2021-05-03    132.539993
2021-05-04    127.849998
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.173647  , 0.91528981, 0.59868619, 0.41824018, 0.30789102,
        0.47501929, 0.11712013, 0.74649144, 0.00910311, 0.56217838]]), Date
2021-04-21    133.500000
2021-04-22    131.940002
2021-04-23    134.320007
2021-04-26    134.720001
2021-04-27    134.389999
2021-04-28    133.580002
2021-04-29    133.479996
2021-04-30    131.460007
2021-05-03    132.539993
2021-05-04    127.849998
2021-05-05    128.100006
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.91528981, 0.59868619, 0.41824018, 0.30789102, 0.47501929,
        0.11712013, 0.74649144, 0.00910311, 0.56217838, 0.83753485]]), Date
2021-04-22    131.940002
2021-04-23    134.320007
2021-04-26    134.720001
2021-04-27    134.389999
2021-04-28    133.580002
2021-04-29    133.479996
2021-04-30    131.460007
2021-05-03    132.539993
2021-05-04    127.849998
2021-05-05    128.100006
2021-05-06    129.740005
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.59868619, 0.41824018, 0.30789102, 0.47501929, 0.11712013,
        0.74649144, 0.00910311, 0.56217838, 0.83753485, 0.61538405]]), Date
2021-04-23    134.320007
2021-04-26    134.720001
2021-04-27    134.389999
2021-04-28    133.580002
2021-04-29    133.479996
2021-04-30    131.460007
2021-05-03    132.539993
2021-05-04    127.849998
2021-05-05    128.100006
2021-05-06    129.740005
2021-05-07    130.210007
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.41824018, 0.30789102, 0.47501929, 0.11712013, 0.74649144,
        0.00910311, 0.56217838, 0.83753485, 0.61538405, 0.03356896]]), Date
2021-04-26    134.720001
2021-04-27    134.389999
2021-04-28    133.580002
2021-04-29    133.479996
2021-04-30    131.460007
2021-05-03    132.539993
2021-05-04    127.849998
2021-05-05    128.100006
2021-05-06    129.740005
2021-05-07    130.210007
2021-05-10    126.849998
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.30789102, 0.47501929, 0.11712013, 0.74649144, 0.00910311,
        0.56217838, 0.83753485, 0.61538405, 0.03356896, 0.28090139]]), Date
2021-04-27    134.389999
2021-04-28    133.580002
2021-04-29    133.479996
2021-04-30    131.460007
2021-05-03    132.539993
2021-05-04    127.849998
2021-05-05    128.100006
2021-05-06    129.740005
2021-05-07    130.210007
2021-05-10    126.849998
2021-05-11    125.910004
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.47501929, 0.11712013, 0.74649144, 0.00910311, 0.56217838,
        0.83753485, 0.61538405, 0.03356896, 0.28090139, 0.04148684]]), Date
2021-04-28    133.580002
2021-04-29    133.479996
2021-04-30    131.460007
2021-05-03    132.539993
2021-05-04    127.849998
2021-05-05    128.100006
2021-05-06    129.740005
2021-05-07    130.210007
2021-05-10    126.849998
2021-05-11    125.910004
2021-05-12    122.769997
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.11712013, 0.74649144, 0.00910311, 0.56217838, 0.83753485,
        0.61538405, 0.03356896, 0.28090139, 0.04148684, 0.90024992]]), Date
2021-04-29    133.479996
2021-04-30    131.460007
2021-05-03    132.539993
2021-05-04    127.849998
2021-05-05    128.100006
2021-05-06    129.740005
2021-05-07    130.210007
2021-05-10    126.849998
2021-05-11    125.910004
2021-05-12    122.769997
2021-05-13    124.970001
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.74649144, 0.00910311, 0.56217838, 0.83753485, 0.61538405,
        0.03356896, 0.28090139, 0.04148684, 0.90024992, 0.92272749]]), Date
2021-04-30    131.460007
2021-05-03    132.539993
2021-05-04    127.849998
2021-05-05    128.100006
2021-05-06    129.740005
2021-05-07    130.210007
2021-05-10    126.849998
2021-05-11    125.910004
2021-05-12    122.769997
2021-05-13    124.970001
2021-05-14    127.449997
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.00910311, 0.56217838, 0.83753485, 0.61538405, 0.03356896,
        0.28090139, 0.04148684, 0.90024992, 0.92272749, 0.23505214]]), Date
2021-05-03    132.539993
2021-05-04    127.849998
2021-05-05    128.100006
2021-05-06    129.740005
2021-05-07    130.210007
2021-05-10    126.849998
2021-05-11    125.910004
2021-05-12    122.769997
2021-05-13    124.970001
2021-05-14    127.449997
2021-05-17    126.269997
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.56217838, 0.83753485, 0.61538405, 0.03356896, 0.28090139,
        0.04148684, 0.90024992, 0.92272749, 0.23505214, 0.19466187]]), Date
2021-05-04    127.849998
2021-05-05    128.100006
2021-05-06    129.740005
2021-05-07    130.210007
2021-05-10    126.849998
2021-05-11    125.910004
2021-05-12    122.769997
2021-05-13    124.970001
2021-05-14    127.449997
2021-05-17    126.269997
2021-05-18    124.849998
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.83753485, 0.61538405, 0.03356896, 0.28090139, 0.04148684,
        0.90024992, 0.92272749, 0.23505214, 0.19466187, 0.4600861 ]]), Date
2021-05-05    128.100006
2021-05-06    129.740005
2021-05-07    130.210007
2021-05-10    126.849998
2021-05-11    125.910004
2021-05-12    122.769997
2021-05-13    124.970001
2021-05-14    127.449997
2021-05-17    126.269997
2021-05-18    124.849998
2021-05-19    124.690002
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.61538405, 0.03356896, 0.28090139, 0.04148684, 0.90024992,
        0.92272749, 0.23505214, 0.19466187, 0.4600861 , 0.9321374 ]]), Date
2021-05-06    129.740005
2021-05-07    130.210007
2021-05-10    126.849998
2021-05-11    125.910004
2021-05-12    122.769997
2021-05-13    124.970001
2021-05-14    127.449997
2021-05-17    126.269997
2021-05-18    124.849998
2021-05-19    124.690002
2021-05-20    127.309998
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.03356896, 0.28090139, 0.04148684, 0.90024992, 0.92272749,
        0.23505214, 0.19466187, 0.4600861 , 0.9321374 , 0.13238919]]), Date
2021-05-07    130.210007
2021-05-10    126.849998
2021-05-11    125.910004
2021-05-12    122.769997
2021-05-13    124.970001
2021-05-14    127.449997
2021-05-17    126.269997
2021-05-18    124.849998
2021-05-19    124.690002
2021-05-20    127.309998
2021-05-21    125.430000
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.28090139, 0.04148684, 0.90024992, 0.92272749, 0.23505214,
        0.19466187, 0.4600861 , 0.9321374 , 0.13238919, 0.84157558]]), Date
2021-05-10    126.849998
2021-05-11    125.910004
2021-05-12    122.769997
2021-05-13    124.970001
2021-05-14    127.449997
2021-05-17    126.269997
2021-05-18    124.849998
2021-05-19    124.690002
2021-05-20    127.309998
2021-05-21    125.430000
2021-05-24    127.099998
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.04148684, 0.90024992, 0.92272749, 0.23505214, 0.19466187,
        0.4600861 , 0.9321374 , 0.13238919, 0.84157558, 0.45016676]]), Date
2021-05-11    125.910004
2021-05-12    122.769997
2021-05-13    124.970001
2021-05-14    127.449997
2021-05-17    126.269997
2021-05-18    124.849998
2021-05-19    124.690002
2021-05-20    127.309998
2021-05-21    125.430000
2021-05-24    127.099998
2021-05-25    126.900002
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.90024992, 0.92272749, 0.23505214, 0.19466187, 0.4600861 ,
        0.9321374 , 0.13238919, 0.84157558, 0.45016676, 0.48750184]]), Date
2021-05-12    122.769997
2021-05-13    124.970001
2021-05-14    127.449997
2021-05-17    126.269997
2021-05-18    124.849998
2021-05-19    124.690002
2021-05-20    127.309998
2021-05-21    125.430000
2021-05-24    127.099998
2021-05-25    126.900002
2021-05-26    126.849998
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.92272749, 0.23505214, 0.19466187, 0.4600861 , 0.9321374 ,
        0.13238919, 0.84157558, 0.45016676, 0.48750184, 0.17221644]]), Date
2021-05-13    124.970001
2021-05-14    127.449997
2021-05-17    126.269997
2021-05-18    124.849998
2021-05-19    124.690002
2021-05-20    127.309998
2021-05-21    125.430000
2021-05-24    127.099998
2021-05-25    126.900002
2021-05-26    126.849998
2021-05-27    125.279999
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.23505214, 0.19466187, 0.4600861 , 0.9321374 , 0.13238919,
        0.84157558, 0.45016676, 0.48750184, 0.17221644, 0.33849725]]), Date
2021-05-14    127.449997
2021-05-17    126.269997
2021-05-18    124.849998
2021-05-19    124.690002
2021-05-20    127.309998
2021-05-21    125.430000
2021-05-24    127.099998
2021-05-25    126.900002
2021-05-26    126.849998
2021-05-27    125.279999
2021-05-28    124.610001
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.19466187, 0.4600861 , 0.9321374 , 0.13238919, 0.84157558,
        0.45016676, 0.48750184, 0.17221644, 0.33849725, 0.41824018]]), Date
2021-05-17    126.269997
2021-05-18    124.849998
2021-05-19    124.690002
2021-05-20    127.309998
2021-05-21    125.430000
2021-05-24    127.099998
2021-05-25    126.900002
2021-05-26    126.849998
2021-05-27    125.279999
2021-05-28    124.610001
2021-06-01    124.279999
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.4600861 , 0.9321374 , 0.13238919, 0.84157558, 0.45016676,
        0.48750184, 0.17221644, 0.33849725, 0.41824018, 0.68567985]]), Date
2021-05-18    124.849998
2021-05-19    124.690002
2021-05-20    127.309998
2021-05-21    125.430000
2021-05-24    127.099998
2021-05-25    126.900002
2021-05-26    126.849998
2021-05-27    125.279999
2021-05-28    124.610001
2021-06-01    124.279999
2021-06-02    125.059998
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.9321374 , 0.13238919, 0.84157558, 0.45016676, 0.48750184,
        0.17221644, 0.33849725, 0.41824018, 0.68567985, 0.17946201]]), Date
2021-05-19    124.690002
2021-05-20    127.309998
2021-05-21    125.430000
2021-05-24    127.099998
2021-05-25    126.900002
2021-05-26    126.849998
2021-05-27    125.279999
2021-05-28    124.610001
2021-06-01    124.279999
2021-06-02    125.059998
2021-06-03    123.540001
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------



 77%|███████▋  | 199/257 [00:00<00:00, 211.97it/s]

 2
-- [INFO] sold!


-----------------------------


(array([[0.17221644, 0.33849725, 0.41824018, 0.68567985, 0.17946201,
        0.91293411, 0.50250051, 0.69846444, 0.59628255, 0.26502805]]), Date
2021-05-26    126.849998
2021-05-27    125.279999
2021-05-28    124.610001
2021-06-01    124.279999
2021-06-02    125.059998
2021-06-03    123.540001
2021-06-04    125.889999
2021-06-07    125.900002
2021-06-08    126.739998
2021-06-09    127.129997
2021-06-10    126.110001
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.33849725, 0.41824018, 0.68567985, 0.17946201, 0.91293411,
        0.50250051, 0.69846444, 0.59628255, 0.26502805, 0.77556364]]), Date
2021-05-27    125.279999
2021-05-28    124.610001
2021-06-01    124.279999
2021-06-02    125.059998
2021-06-03    123.540001
2021-06-04    125.889999
2021-06-07    125.900002
2021-06-08    126.739998
2021-06-09    127.129997
2021-06-10    126.110001
2021-06-11    127.349998
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.41824018, 0.68567985, 0.17946201, 0.91293411, 0.50250051,
        0.69846444, 0.59628255, 0.26502805, 0.77556364, 0.95811328]]), Date
2021-05-28    124.610001
2021-06-01    124.279999
2021-06-02    125.059998
2021-06-03    123.540001
2021-06-04    125.889999
2021-06-07    125.900002
2021-06-08    126.739998
2021-06-09    127.129997
2021-06-10    126.110001
2021-06-11    127.349998
2021-06-14    130.479996
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.68567985, 0.17946201, 0.91293411, 0.50250051, 0.69846444,
        0.59628255, 0.26502805, 0.77556364, 0.95811328, 0.30153556]]), Date
2021-06-01    124.279999
2021-06-02    125.059998
2021-06-03    123.540001
2021-06-04    125.889999
2021-06-07    125.900002
2021-06-08    126.739998
2021-06-09    127.129997
2021-06-10    126.110001
2021-06-11    127.349998
2021-06-14    130.479996
2021-06-15    129.639999
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.17946201, 0.91293411, 0.50250051, 0.69846444, 0.59628255,
        0.26502805, 0.77556364, 0.95811328, 0.30153556, 0.62480519]]), Date
2021-06-02    125.059998
2021-06-03    123.540001
2021-06-04    125.889999
2021-06-07    125.900002
2021-06-08    126.739998
2021-06-09    127.129997
2021-06-10    126.110001
2021-06-11    127.349998
2021-06-14    130.479996
2021-06-15    129.639999
2021-06-16    130.149994
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.91293411, 0.50250051, 0.69846444, 0.59628255, 0.26502805,
        0.77556364, 0.95811328, 0.30153556, 0.62480519, 0.83753485]]), Date
2021-06-03    123.540001
2021-06-04    125.889999
2021-06-07    125.900002
2021-06-08    126.739998
2021-06-09    127.129997
2021-06-10    126.110001
2021-06-11    127.349998
2021-06-14    130.479996
2021-06-15    129.639999
2021-06-16    130.149994
2021-06-17    131.789993
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.50250051, 0.69846444, 0.59628255, 0.26502805, 0.77556364,
        0.95811328, 0.30153556, 0.62480519, 0.83753485, 0.20916159]]), Date
2021-06-04    125.889999
2021-06-07    125.900002
2021-06-08    126.739998
2021-06-09    127.129997
2021-06-10    126.110001
2021-06-11    127.349998
2021-06-14    130.479996
2021-06-15    129.639999
2021-06-16    130.149994
2021-06-17    131.789993
2021-06-18    130.460007
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.69846444, 0.59628255, 0.26502805, 0.77556364, 0.95811328,
        0.30153556, 0.62480519, 0.83753485, 0.20916159, 0.86294827]]), Date
2021-06-07    125.900002
2021-06-08    126.739998
2021-06-09    127.129997
2021-06-10    126.110001
2021-06-11    127.349998
2021-06-14    130.479996
2021-06-15    129.639999
2021-06-16    130.149994
2021-06-17    131.789993
2021-06-18    130.460007
2021-06-21    132.300003
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.59628255, 0.26502805, 0.77556364, 0.95811328, 0.30153556,
        0.62480519, 0.83753485, 0.20916159, 0.86294827, 0.84290356]]), Date
2021-06-08    126.739998
2021-06-09    127.129997
2021-06-10    126.110001
2021-06-11    127.349998
2021-06-14    130.479996
2021-06-15    129.639999
2021-06-16    130.149994
2021-06-17    131.789993
2021-06-18    130.460007
2021-06-21    132.300003
2021-06-22    133.979996
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.26502805, 0.77556364, 0.95811328, 0.30153556, 0.62480519,
        0.83753485, 0.20916159, 0.86294827, 0.84290356, 0.43045408]]), Date
2021-06-09    127.129997
2021-06-10    126.110001
2021-06-11    127.349998
2021-06-14    130.479996
2021-06-15    129.639999
2021-06-16    130.149994
2021-06-17    131.789993
2021-06-18    130.460007
2021-06-21    132.300003
2021-06-22    133.979996
2021-06-23    133.699997
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.77556364, 0.95811328, 0.30153556, 0.62480519, 0.83753485,
        0.20916159, 0.86294827, 0.84290356, 0.43045408, 0.42800551]]), Date
2021-06-10    126.110001
2021-06-11    127.349998
2021-06-14    130.479996
2021-06-15    129.639999
2021-06-16    130.149994
2021-06-17    131.789993
2021-06-18    130.460007
2021-06-21    132.300003
2021-06-22    133.979996
2021-06-23    133.699997
2021-06-24    133.410004
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.95811328, 0.30153556, 0.62480519, 0.83753485, 0.20916159,
        0.86294827, 0.84290356, 0.43045408, 0.42800551, 0.42555674]]), Date
2021-06-11    127.349998
2021-06-14    130.479996
2021-06-15    129.639999
2021-06-16    130.149994
2021-06-17    131.789993
2021-06-18    130.460007
2021-06-21    132.300003
2021-06-22    133.979996
2021-06-23    133.699997
2021-06-24    133.410004
2021-06-25    133.110001
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.30153556, 0.62480519, 0.83753485, 0.20916159, 0.86294827,
        0.84290356, 0.43045408, 0.42800551, 0.42555674, 0.84157558]]), Date
2021-06-14    130.479996
2021-06-15    129.639999
2021-06-16    130.149994
2021-06-17    131.789993
2021-06-18    130.460007
2021-06-21    132.300003
2021-06-22    133.979996
2021-06-23    133.699997
2021-06-24    133.410004
2021-06-25    133.110001
2021-06-28    134.779999
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.62480519, 0.83753485, 0.20916159, 0.86294827, 0.84290356,
        0.43045408, 0.42800551, 0.42555674, 0.84157558, 0.82491417]]), Date
2021-06-15    129.639999
2021-06-16    130.149994
2021-06-17    131.789993
2021-06-18    130.460007
2021-06-21    132.300003
2021-06-22    133.979996
2021-06-23    133.699997
2021-06-24    133.410004
2021-06-25    133.110001
2021-06-28    134.779999
2021-06-29    136.330002
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.83753485, 0.20916159, 0.86294827, 0.84290356, 0.43045408,
        0.42800551, 0.42555674, 0.84157558, 0.82491417, 0.65249057]]), Date
2021-06-16    130.149994
2021-06-17    131.789993
2021-06-18    130.460007
2021-06-21    132.300003
2021-06-22    133.979996
2021-06-23    133.699997
2021-06-24    133.410004
2021-06-25    133.110001
2021-06-28    134.779999
2021-06-29    136.330002
2021-06-30    136.960007
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.20916159, 0.86294827, 0.84290356, 0.43045408, 0.42800551,
        0.42555674, 0.84157558, 0.82491417, 0.65249057, 0.57688467]]), Date
2021-06-17    131.789993
2021-06-18    130.460007
2021-06-21    132.300003
2021-06-22    133.979996
2021-06-23    133.699997
2021-06-24    133.410004
2021-06-25    133.110001
2021-06-28    134.779999
2021-06-29    136.330002
2021-06-30    136.960007
2021-07-01    137.270004
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.86294827, 0.84290356, 0.43045408, 0.42800551, 0.42555674,
        0.84157558, 0.82491417, 0.65249057, 0.57688467, 0.93643413]]), Date
2021-06-18    130.460007
2021-06-21    132.300003
2021-06-22    133.979996
2021-06-23    133.699997
2021-06-24    133.410004
2021-06-25    133.110001
2021-06-28    134.779999
2021-06-29    136.330002
2021-06-30    136.960007
2021-07-01    137.270004
2021-07-02    139.960007
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.84290356, 0.43045408, 0.42800551, 0.42555674, 0.84157558,
        0.82491417, 0.65249057, 0.57688467, 0.93643413, 0.88695393]]), Date
2021-06-21    132.300003
2021-06-22    133.979996
2021-06-23    133.699997
2021-06-24    133.410004
2021-06-25    133.110001
2021-06-28    134.779999
2021-06-29    136.330002
2021-06-30    136.960007
2021-07-01    137.270004
2021-07-02    139.960007
2021-07-06    142.020004
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.43045408, 0.42800551, 0.42555674, 0.84157558, 0.82491417,
        0.65249057, 0.57688467, 0.93643413, 0.88695393, 0.92757372]]), Date
2021-06-22    133.979996
2021-06-23    133.699997
2021-06-24    133.410004
2021-06-25    133.110001
2021-06-28    134.779999
2021-06-29    136.330002
2021-06-30    136.960007
2021-07-01    137.270004
2021-07-02    139.960007
2021-07-06    142.020004
2021-07-07    144.570007
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.42800551, 0.42555674, 0.84157558, 0.82491417, 0.65249057,
        0.57688467, 0.93643413, 0.88695393, 0.92757372, 0.20915906]]), Date
2021-06-23    133.699997
2021-06-24    133.410004
2021-06-25    133.110001
2021-06-28    134.779999
2021-06-29    136.330002
2021-06-30    136.960007
2021-07-01    137.270004
2021-07-02    139.960007
2021-07-06    142.020004
2021-07-07    144.570007
2021-07-08    143.240005
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.42555674, 0.84157558, 0.82491417, 0.65249057, 0.57688467,
        0.93643413, 0.88695393, 0.92757372, 0.20915906, 0.86645771]]), Date
2021-06-24    133.410004
2021-06-25    133.110001
2021-06-28    134.779999
2021-06-29    136.330002
2021-06-30    136.960007
2021-07-01    137.270004
2021-07-02    139.960007
2021-07-06    142.020004
2021-07-07    144.570007
2021-07-08    143.240005
2021-07-09    145.110001
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.84157558, 0.82491417, 0.65249057, 0.57688467, 0.93643413,
        0.88695393, 0.92757372, 0.20915906, 0.86645771, 0.35205906]]), Date
2021-06-25    133.110001
2021-06-28    134.779999
2021-06-29    136.330002
2021-06-30    136.960007
2021-07-01    137.270004
2021-07-02    139.960007
2021-07-06    142.020004
2021-07-07    144.570007
2021-07-08    143.240005
2021-07-09    145.110001
2021-07-12    144.500000
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.82491417, 0.65249057, 0.57688467, 0.93643413, 0.88695393,
        0.92757372, 0.20915906, 0.86645771, 0.35205906, 0.75767953]]), Date
2021-06-28    134.779999
2021-06-29    136.330002
2021-06-30    136.960007
2021-07-01    137.270004
2021-07-02    139.960007
2021-07-06    142.020004
2021-07-07    144.570007
2021-07-08    143.240005
2021-07-09    145.110001
2021-07-12    144.500000
2021-07-13    145.639999
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.65249057, 0.57688467, 0.93643413, 0.88695393, 0.92757372,
        0.20915906, 0.86645771, 0.35205906, 0.75767953, 0.97097081]]), Date
2021-06-29    136.330002
2021-06-30    136.960007
2021-07-01    137.270004
2021-07-02    139.960007
2021-07-06    142.020004
2021-07-07    144.570007
2021-07-08    143.240005
2021-07-09    145.110001
2021-07-12    144.500000
2021-07-13    145.639999
2021-07-14    149.149994
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.57688467, 0.93643413, 0.88695393, 0.92757372, 0.20915906,
        0.86645771, 0.35205906, 0.75767953, 0.97097081, 0.33849725]]), Date
2021-06-30    136.960007
2021-07-01    137.270004
2021-07-02    139.960007
2021-07-06    142.020004
2021-07-07    144.570007
2021-07-08    143.240005
2021-07-09    145.110001
2021-07-12    144.500000
2021-07-13    145.639999
2021-07-14    149.149994
2021-07-15    148.479996
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.93643413, 0.88695393, 0.92757372, 0.20915906, 0.86645771,
        0.35205906, 0.75767953, 0.97097081, 0.33849725, 0.11007293]]), Date
2021-07-01    137.270004
2021-07-02    139.960007
2021-07-06    142.020004
2021-07-07    144.570007
2021-07-08    143.240005
2021-07-09    145.110001
2021-07-12    144.500000
2021-07-13    145.639999
2021-07-14    149.149994
2021-07-15    148.479996
2021-07-16    146.389999
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.88695393, 0.92757372, 0.20915906, 0.86645771, 0.35205906,
        0.75767953, 0.97097081, 0.33849725, 0.11007293, 0.01907715]]), Date
2021-07-02    139.960007
2021-07-06    142.020004
2021-07-07    144.570007
2021-07-08    143.240005
2021-07-09    145.110001
2021-07-12    144.500000
2021-07-13    145.639999
2021-07-14    149.149994
2021-07-15    148.479996
2021-07-16    146.389999
2021-07-19    142.449997
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.92757372, 0.20915906, 0.86645771, 0.35205906, 0.75767953,
        0.97097081, 0.33849725, 0.11007293, 0.01907715, 0.97587291]]), Date
2021-07-06    142.020004
2021-07-07    144.570007
2021-07-08    143.240005
2021-07-09    145.110001
2021-07-12    144.500000
2021-07-13    145.639999
2021-07-14    149.149994
2021-07-15    148.479996
2021-07-16    146.389999
2021-07-19    142.449997
2021-07-20    146.149994
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.20915906, 0.86645771, 0.35205906, 0.75767953, 0.97097081,
        0.33849725, 0.11007293, 0.01907715, 0.97587291, 0.3208213 ]]), Date
2021-07-07    144.570007
2021-07-08    143.240005
2021-07-09    145.110001
2021-07-12    144.500000
2021-07-13    145.639999
2021-07-14    149.149994
2021-07-15    148.479996
2021-07-16    146.389999
2021-07-19    142.449997
2021-07-20    146.149994
2021-07-21    145.399994
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.86645771, 0.35205906, 0.75767953, 0.97097081, 0.33849725,
        0.11007293, 0.01907715, 0.97587291, 0.3208213 , 0.80218534]]), Date
2021-07-08    143.240005
2021-07-09    145.110001
2021-07-12    144.500000
2021-07-13    145.639999
2021-07-14    149.149994
2021-07-15    148.479996
2021-07-16    146.389999
2021-07-19    142.449997
2021-07-20    146.149994
2021-07-21    145.399994
2021-07-22    146.800003
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.35205906, 0.75767953, 0.97097081, 0.33849725, 0.11007293,
        0.01907715, 0.97587291, 0.3208213 , 0.80218534, 0.85320897]]), Date
2021-07-09    145.110001
2021-07-12    144.500000
2021-07-13    145.639999
2021-07-14    149.149994
2021-07-15    148.479996
2021-07-16    146.389999
2021-07-19    142.449997
2021-07-20    146.149994
2021-07-21    145.399994
2021-07-22    146.800003
2021-07-23    148.559998
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.75767953, 0.97097081, 0.33849725, 0.11007293, 0.01907715,
        0.97587291, 0.3208213 , 0.80218534, 0.85320897, 0.60587556]]), Date
2021-07-12    144.500000
2021-07-13    145.639999
2021-07-14    149.149994
2021-07-15    148.479996
2021-07-16    146.389999
2021-07-19    142.449997
2021-07-20    146.149994
2021-07-21    145.399994
2021-07-22    146.800003
2021-07-23    148.559998
2021-07-26    148.990005
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.97097081, 0.33849725, 0.11007293, 0.01907715, 0.97587291,
        0.3208213 , 0.80218534, 0.85320897, 0.60587556, 0.0979687 ]]), Date
2021-07-13    145.639999
2021-07-14    149.149994
2021-07-15    148.479996
2021-07-16    146.389999
2021-07-19    142.449997
2021-07-20    146.149994
2021-07-21    145.399994
2021-07-22    146.800003
2021-07-23    148.559998
2021-07-26    148.990005
2021-07-27    146.770004
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.33849725, 0.11007293, 0.01907715, 0.97587291, 0.3208213 ,
        0.80218534, 0.85320897, 0.60587556, 0.0979687 , 0.14307168]]), Date
2021-07-14    149.149994
2021-07-15    148.479996
2021-07-16    146.389999
2021-07-19    142.449997
2021-07-20    146.149994
2021-07-21    145.399994
2021-07-22    146.800003
2021-07-23    148.559998
2021-07-26    148.990005
2021-07-27    146.770004
2021-07-28    144.979996
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.11007293, 0.01907715, 0.97587291, 0.3208213 , 0.80218534,
        0.85320897, 0.60587556, 0.0979687 , 0.14307168, 0.65926121]]), Date
2021-07-15    148.479996
2021-07-16    146.389999
2021-07-19    142.449997
2021-07-20    146.149994
2021-07-21    145.399994
2021-07-22    146.800003
2021-07-23    148.559998
2021-07-26    148.990005
2021-07-27    146.770004
2021-07-28    144.979996
2021-07-29    145.639999
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.01907715, 0.97587291, 0.3208213 , 0.80218534, 0.85320897,
        0.60587556, 0.0979687 , 0.14307168, 0.65926121, 0.55477954]]), Date
2021-07-16    146.389999
2021-07-19    142.449997
2021-07-20    146.149994
2021-07-21    145.399994
2021-07-22    146.800003
2021-07-23    148.559998
2021-07-26    148.990005
2021-07-27    146.770004
2021-07-28    144.979996
2021-07-29    145.639999
2021-07-30    145.860001
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.97587291, 0.3208213 , 0.80218534, 0.85320897, 0.60587556,
        0.0979687 , 0.14307168, 0.65926121, 0.55477954, 0.41581037]]), Date
2021-07-19    142.449997
2021-07-20    146.149994
2021-07-21    145.399994
2021-07-22    146.800003
2021-07-23    148.559998
2021-07-26    148.990005
2021-07-27    146.770004
2021-07-28    144.979996
2021-07-29    145.639999
2021-07-30    145.860001
2021-08-02    145.520004
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.3208213 , 0.80218534, 0.85320897, 0.60587556, 0.0979687 ,
        0.14307168, 0.65926121, 0.55477954, 0.41581037, 0.86294827]]), Date
2021-07-20    146.149994
2021-07-21    145.399994
2021-07-22    146.800003
2021-07-23    148.559998
2021-07-26    148.990005
2021-07-27    146.770004
2021-07-28    144.979996
2021-07-29    145.639999
2021-07-30    145.860001
2021-08-02    145.520004
2021-08-03    147.360001
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.80218534, 0.85320897, 0.60587556, 0.0979687 , 0.14307168,
        0.65926121, 0.55477954, 0.41581037, 0.86294827, 0.39891124]]), Date
2021-07-21    145.399994
2021-07-22    146.800003
2021-07-23    148.559998
2021-07-26    148.990005
2021-07-27    146.770004
2021-07-28    144.979996
2021-07-29    145.639999
2021-07-30    145.860001
2021-08-02    145.520004
2021-08-03    147.360001
2021-08-04    146.949997
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------



100%|██████████| 257/257 [00:01<00:00, 213.23it/s]

result  1
-- [INFO] bought!


-----------------------------


(array([[0.39891124, 0.52747246, 0.28495827, 0.48750184, 0.37989587,
        0.56463494, 0.95391112, 0.55230957, 0.88287987, 0.2829262 ]]), Date
2021-08-03    147.360001
2021-08-04    146.949997
2021-08-05    147.059998
2021-08-06    146.139999
2021-08-09    146.089996
2021-08-10    145.600006
2021-08-11    145.860001
2021-08-12    148.889999
2021-08-13    149.100006
2021-08-16    151.119995
2021-08-17    150.190002
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.52747246, 0.28495827, 0.48750184, 0.37989587, 0.56463494,
        0.95391112, 0.55230957, 0.88287987, 0.2829262 , 0.02124828]]), Date
2021-08-04    146.949997
2021-08-05    147.059998
2021-08-06    146.139999
2021-08-09    146.089996
2021-08-10    145.600006
2021-08-11    145.860001
2021-08-12    148.889999
2021-08-13    149.100006
2021-08-16    151.119995
2021-08-17    150.190002
2021-08-18    146.360001
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.28495827, 0.48750184, 0.37989587, 0.56463494, 0.95391112,
        0.55230957, 0.88287987, 0.2829262 , 0.02124828, 0.58418963]]), Date
2021-08-05    147.059998
2021-08-06    146.139999
2021-08-09    146.089996
2021-08-10    145.600006
2021-08-11    145.860001
2021-08-12    148.889999
2021-08-13    149.100006
2021-08-16    151.119995
2021-08-17    150.190002
2021-08-18    146.360001
2021-08-19    146.699997
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.48750184, 0.37989587, 0.56463494, 0.95391112, 0.55230957,
        0.88287987, 0.2829262 , 0.02124828, 0.58418963, 0.8160791 ]]), Date
2021-08-06    146.139999
2021-08-09    146.089996
2021-08-10    145.600006
2021-08-11    145.860001
2021-08-12    148.889999
2021-08-13    149.100006
2021-08-16    151.119995
2021-08-17    150.190002
2021-08-18    146.360001
2021-08-19    146.699997
2021-08-20    148.190002
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.37989587, 0.56463494, 0.95391112, 0.55230957, 0.88287987,
        0.2829262 , 0.02124828, 0.58418963, 0.8160791 , 0.82053911]]), Date
2021-08-09    146.089996
2021-08-10    145.600006
2021-08-11    145.860001
2021-08-12    148.889999
2021-08-13    149.100006
2021-08-16    151.119995
2021-08-17    150.190002
2021-08-18    146.360001
2021-08-19    146.699997
2021-08-20    148.190002
2021-08-23    149.710007
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.56463494, 0.95391112, 0.55230957, 0.88287987, 0.2829262 ,
        0.02124828, 0.58418963, 0.8160791 , 0.82053911, 0.47751228]]), Date
2021-08-10    145.600006
2021-08-11    145.860001
2021-08-12    148.889999
2021-08-13    149.100006
2021-08-16    151.119995
2021-08-17    150.190002
2021-08-18    146.360001
2021-08-19    146.699997
2021-08-20    148.190002
2021-08-23    149.710007
2021-08-24    149.619995
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.95391112, 0.55230957, 0.88287987, 0.2829262 , 0.02124828,
        0.58418963, 0.8160791 , 0.82053911, 0.47751228, 0.22097484]]), Date
2021-08-11    145.860001
2021-08-12    148.889999
2021-08-13    149.100006
2021-08-16    151.119995
2021-08-17    150.190002
2021-08-18    146.360001
2021-08-19    146.699997
2021-08-20    148.190002
2021-08-23    149.710007
2021-08-24    149.619995
2021-08-25    148.360001
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.55230957, 0.88287987, 0.2829262 , 0.02124828, 0.58418963,
        0.8160791 , 0.82053911, 0.47751228, 0.22097484, 0.30576211]]), Date
2021-08-12    148.889999
2021-08-13    149.100006
2021-08-16    151.119995
2021-08-17    150.190002
2021-08-18    146.360001
2021-08-19    146.699997
2021-08-20    148.190002
2021-08-23    149.710007
2021-08-24    149.619995
2021-08-25    148.360001
2021-08-26    147.539993
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.88287987, 0.2829262 , 0.02124828, 0.58418963, 0.8160791 ,
        0.82053911, 0.47751228, 0.22097484, 0.30576211, 0.74269299]]), Date
2021-08-13    149.100006
2021-08-16    151.119995
2021-08-17    150.190002
2021-08-18    146.360001
2021-08-19    146.699997
2021-08-20    148.190002
2021-08-23    149.710007
2021-08-24    149.619995
2021-08-25    148.360001
2021-08-26    147.539993
2021-08-27    148.600006
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.2829262 , 0.02124828, 0.58418963, 0.8160791 , 0.82053911,
        0.47751228, 0.22097484, 0.30576211, 0.74269299, 0.98922815]]), Date
2021-08-16    151.119995
2021-08-17    150.190002
2021-08-18    146.360001
2021-08-19    146.699997
2021-08-20    148.190002
2021-08-23    149.710007
2021-08-24    149.619995
2021-08-25    148.360001
2021-08-26    147.539993
2021-08-27    148.600006
2021-08-30    153.119995
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.02124828, 0.58418963, 0.8160791 , 0.82053911, 0.47751228,
        0.22097484, 0.30576211, 0.74269299, 0.98922815, 0.21585395]]), Date
2021-08-17    150.190002
2021-08-18    146.360001
2021-08-19    146.699997
2021-08-20    148.190002
2021-08-23    149.710007
2021-08-24    149.619995
2021-08-25    148.360001
2021-08-26    147.539993
2021-08-27    148.600006
2021-08-30    153.119995
2021-08-31    151.830002
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.58418963, 0.8160791 , 0.82053911, 0.47751228, 0.22097484,
        0.30576211, 0.74269299, 0.98922815, 0.21585395, 0.66373706]]), Date
2021-08-18    146.360001
2021-08-19    146.699997
2021-08-20    148.190002
2021-08-23    149.710007
2021-08-24    149.619995
2021-08-25    148.360001
2021-08-26    147.539993
2021-08-27    148.600006
2021-08-30    153.119995
2021-08-31    151.830002
2021-09-01    152.509995
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.8160791 , 0.82053911, 0.47751228, 0.22097484, 0.30576211,
        0.74269299, 0.98922815, 0.21585395, 0.66373706, 0.75767953]]), Date
2021-08-19    146.699997
2021-08-20    148.190002
2021-08-23    149.710007
2021-08-24    149.619995
2021-08-25    148.360001
2021-08-26    147.539993
2021-08-27    148.600006
2021-08-30    153.119995
2021-08-31    151.830002
2021-09-01    152.509995
2021-09-02    153.649994
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.82053911, 0.47751228, 0.22097484, 0.30576211, 0.74269299,
        0.98922815, 0.21585395, 0.66373706, 0.75767953, 0.65701253]]), Date
2021-08-20    148.190002
2021-08-23    149.710007
2021-08-24    149.619995
2021-08-25    148.360001
2021-08-26    147.539993
2021-08-27    148.600006
2021-08-30    153.119995
2021-08-31    151.830002
2021-09-01    152.509995
2021-09-02    153.649994
2021-09-03    154.300003
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.47751228, 0.22097484, 0.30576211, 0.74269299, 0.98922815,
        0.21585395, 0.66373706, 0.75767953, 0.65701253, 0.91606152]]), Date
2021-08-23    149.710007
2021-08-24    149.619995
2021-08-25    148.360001
2021-08-26    147.539993
2021-08-27    148.600006
2021-08-30    153.119995
2021-08-31    151.830002
2021-09-01    152.509995
2021-09-02    153.649994
2021-09-03    154.300003
2021-09-07    156.690002
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.22097484, 0.30576211, 0.74269299, 0.98922815, 0.21585395,
        0.66373706, 0.75767953, 0.65701253, 0.91606152, 0.17079522]]), Date
2021-08-24    149.619995
2021-08-25    148.360001
2021-08-26    147.539993
2021-08-27    148.600006
2021-08-30    153.119995
2021-08-31    151.830002
2021-09-01    152.509995
2021-09-02    153.649994
2021-09-03    154.300003
2021-09-07    156.690002
2021-09-08    155.110001
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.30576211, 0.74269299, 0.98922815, 0.21585395, 0.66373706,
        0.75767953, 0.65701253, 0.91606152, 0.17079522, 0.26115129]]), Date
2021-08-25    148.360001
2021-08-26    147.539993
2021-08-27    148.600006
2021-08-30    153.119995
2021-08-31    151.830002
2021-09-01    152.509995
2021-09-02    153.649994
2021-09-03    154.300003
2021-09-07    156.690002
2021-09-08    155.110001
2021-09-09    154.070007
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.74269299, 0.98922815, 0.21585395, 0.66373706, 0.75767953,
        0.65701253, 0.91606152, 0.17079522, 0.26115129, 0.00605976]]), Date
2021-08-26    147.539993
2021-08-27    148.600006
2021-08-30    153.119995
2021-08-31    151.830002
2021-09-01    152.509995
2021-09-02    153.649994
2021-09-03    154.300003
2021-09-07    156.690002
2021-09-08    155.110001
2021-09-09    154.070007
2021-09-10    148.970001
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.98922815, 0.21585395, 0.66373706, 0.75767953, 0.65701253,
        0.91606152, 0.17079522, 0.26115129, 0.00605976, 0.64106783]]), Date
2021-08-27    148.600006
2021-08-30    153.119995
2021-08-31    151.830002
2021-09-01    152.509995
2021-09-02    153.649994
2021-09-03    154.300003
2021-09-07    156.690002
2021-09-08    155.110001
2021-09-09    154.070007
2021-09-10    148.970001
2021-09-13    149.550003
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.21585395, 0.66373706, 0.75767953, 0.65701253, 0.91606152,
        0.17079522, 0.26115129, 0.00605976, 0.64106783, 0.19309745]]), Date
2021-08-30    153.119995
2021-08-31    151.830002
2021-09-01    152.509995
2021-09-02    153.649994
2021-09-03    154.300003
2021-09-07    156.690002
2021-09-08    155.110001
2021-09-09    154.070007
2021-09-10    148.970001
2021-09-13    149.550003
2021-09-14    148.119995
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.66373706, 0.75767953, 0.65701253, 0.91606152, 0.17079522,
        0.26115129, 0.00605976, 0.64106783, 0.19309745, 0.71300091]]), Date
2021-08-31    151.830002
2021-09-01    152.509995
2021-09-02    153.649994
2021-09-03    154.300003
2021-09-07    156.690002
2021-09-08    155.110001
2021-09-09    154.070007
2021-09-10    148.970001
2021-09-13    149.550003
2021-09-14    148.119995
2021-09-15    149.029999
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.75767953, 0.65701253, 0.91606152, 0.17079522, 0.26115129,
        0.00605976, 0.64106783, 0.19309745, 0.71300091, 0.440285  ]]), Date
2021-09-01    152.509995
2021-09-02    153.649994
2021-09-03    154.300003
2021-09-07    156.690002
2021-09-08    155.110001
2021-09-09    154.070007
2021-09-10    148.970001
2021-09-13    149.550003
2021-09-14    148.119995
2021-09-15    149.029999
2021-09-16    148.789993
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.65701253, 0.91606152, 0.17079522, 0.26115129, 0.00605976,
        0.64106783, 0.19309745, 0.71300091, 0.440285  , 0.06122641]]), Date
2021-09-02    153.649994
2021-09-03    154.300003
2021-09-07    156.690002
2021-09-08    155.110001
2021-09-09    154.070007
2021-09-10    148.970001
2021-09-13    149.550003
2021-09-14    148.119995
2021-09-15    149.029999
2021-09-16    148.789993
2021-09-17    146.059998
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.91606152, 0.17079522, 0.26115129, 0.00605976, 0.64106783,
        0.19309745, 0.71300091, 0.440285  , 0.06122641, 0.04228997]]), Date
2021-09-03    154.300003
2021-09-07    156.690002
2021-09-08    155.110001
2021-09-09    154.070007
2021-09-10    148.970001
2021-09-13    149.550003
2021-09-14    148.119995
2021-09-15    149.029999
2021-09-16    148.789993
2021-09-17    146.059998
2021-09-20    142.940002
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.17079522, 0.26115129, 0.00605976, 0.64106783, 0.19309745,
        0.71300091, 0.440285  , 0.06122641, 0.04228997, 0.62010413]]), Date
2021-09-07    156.690002
2021-09-08    155.110001
2021-09-09    154.070007
2021-09-10    148.970001
2021-09-13    149.550003
2021-09-14    148.119995
2021-09-15    149.029999
2021-09-16    148.789993
2021-09-17    146.059998
2021-09-20    142.940002
2021-09-21    143.429993
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.26115129, 0.00605976, 0.64106783, 0.19309745, 0.71300091,
        0.440285  , 0.06122641, 0.04228997, 0.62010413, 0.91834075]]), Date
2021-09-08    155.110001
2021-09-09    154.070007
2021-09-10    148.970001
2021-09-13    149.550003
2021-09-14    148.119995
2021-09-15    149.029999
2021-09-16    148.789993
2021-09-17    146.059998
2021-09-20    142.940002
2021-09-21    143.429993
2021-09-22    145.850006
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.00605976, 0.64106783, 0.19309745, 0.71300091, 0.440285  ,
        0.06122641, 0.04228997, 0.62010413, 0.91834075, 0.72710737]]), Date
2021-09-09    154.070007
2021-09-10    148.970001
2021-09-13    149.550003
2021-09-14    148.119995
2021-09-15    149.029999
2021-09-16    148.789993
2021-09-17    146.059998
2021-09-20    142.940002
2021-09-21    143.429993
2021-09-22    145.850006
2021-09-23    146.830002
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.64106783, 0.19309745, 0.71300091, 0.440285  , 0.06122641,
        0.04228997, 0.62010413, 0.91834075, 0.72710737, 0.52248391]]), Date
2021-09-10    148.970001
2021-09-13    149.550003
2021-09-14    148.119995
2021-09-15    149.029999
2021-09-16    148.789993
2021-09-17    146.059998
2021-09-20    142.940002
2021-09-21    143.429993
2021-09-22    145.850006
2021-09-23    146.830002
2021-09-24    146.919998
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.19309745, 0.71300091, 0.440285  , 0.06122641, 0.04228997,
        0.62010413, 0.91834075, 0.72710737, 0.52248391, 0.17508583]]), Date
2021-09-13    149.550003
2021-09-14    148.119995
2021-09-15    149.029999
2021-09-16    148.789993
2021-09-17    146.059998
2021-09-20    142.940002
2021-09-21    143.429993
2021-09-22    145.850006
2021-09-23    146.830002
2021-09-24    146.919998
2021-09-27    145.369995
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.71300091, 0.440285  , 0.06122641, 0.04228997, 0.62010413,
        0.91834075, 0.72710737, 0.52248391, 0.17508583, 0.03047229]]), Date
2021-09-14    148.119995
2021-09-15    149.029999
2021-09-16    148.789993
2021-09-17    146.059998
2021-09-20    142.940002
2021-09-21    143.429993
2021-09-22    145.850006
2021-09-23    146.830002
2021-09-24    146.919998
2021-09-27    145.369995
2021-09-28    141.910004
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.440285  , 0.06122641, 0.04228997, 0.62010413, 0.91834075,
        0.72710737, 0.52248391, 0.17508583, 0.03047229, 0.71504173]]), Date
2021-09-15    149.029999
2021-09-16    148.789993
2021-09-17    146.059998
2021-09-20    142.940002
2021-09-21    143.429993
2021-09-22    145.850006
2021-09-23    146.830002
2021-09-24    146.919998
2021-09-27    145.369995
2021-09-28    141.910004
2021-09-29    142.830002
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.06122641, 0.04228997, 0.62010413, 0.91834075, 0.72710737,
        0.52248391, 0.17508583, 0.03047229, 0.71504173, 0.20915906]]), Date
2021-09-16    148.789993
2021-09-17    146.059998
2021-09-20    142.940002
2021-09-21    143.429993
2021-09-22    145.850006
2021-09-23    146.830002
2021-09-24    146.919998
2021-09-27    145.369995
2021-09-28    141.910004
2021-09-29    142.830002
2021-09-30    141.500000
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------


(array([[0.04228997, 0.62010413, 0.91834075, 0.72710737, 0.52248391,
        0.17508583, 0.03047229, 0.71504173, 0.20915906, 0.7595098 ]]), Date
2021-09-17    146.059998
2021-09-20    142.940002
2021-09-21    143.429993
2021-09-22    145.850006
2021-09-23    146.830002
2021-09-24    146.919998
2021-09-27    145.369995
2021-09-28    141.910004
2021-09-29    142.830002
2021-09-30    141.500000
2021-10-01    142.649994
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.62010413, 0.91834075, 0.72710737, 0.52248391, 0.17508583,
        0.03047229, 0.71504173, 0.20915906, 0.7595098 , 0.02902919]]), Date
2021-09-20    142.940002
2021-09-21    143.429993
2021-09-22    145.850006
2021-09-23    146.830002
2021-09-24    146.919998
2021-09-27    145.369995
2021-09-28    141.910004
2021-09-29    142.830002
2021-09-30    141.500000
2021-10-01    142.649994
2021-10-04    139.139999
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.91834075, 0.72710737, 0.52248391, 0.17508583, 0.03047229,
        0.71504173, 0.20915906, 0.7595098 , 0.02902919, 0.87761124]]), Date
2021-09-21    143.429993
2021-09-22    145.850006
2021-09-23    146.830002
2021-09-24    146.919998
2021-09-27    145.369995
2021-09-28    141.910004
2021-09-29    142.830002
2021-09-30    141.500000
2021-10-01    142.649994
2021-10-04    139.139999
2021-10-05    141.110001
Name: Close, dtype: float64)
result  1
-- [INFO] bought!


-----------------------------


(array([[0.72710737, 0.52248391, 0.17508583, 0.03047229, 0.71504173,
        0.20915906, 0.7595098 , 0.02902919, 0.87761124, 0.22270014]]), Date
2021-09-22    145.850006
2021-09-23    146.830002
2021-09-24    146.919998
2021-09-27    145.369995
2021-09-28    141.910004
2021-09-29    142.830002
2021-09-30    141.500000
2021-10-01    142.649994
2021-10-04    139.139999
2021-10-05    141.110001
2021-10-06    139.860001
Name: Close, dtype: float64)
result  2
-- [INFO] sold!


-----------------------------